Repository autogluon/autogluon, pull requests merged in 2022-08, with the labels that each got.

#1977 Fix calculation of feature importances on Quantile Models
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/src/autogluon/core/utils/utils.py
Labels: enhancement, module: tabular

#1986 adding static features to time series data set API
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: module: timeseries

#2001 Improve sktime models API
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/models/sktime/abstract_sktime.py
  timeseries/src/autogluon/timeseries/models/sktime/models.py
  timeseries/tests/unittests/models/test_sktime.py
Labels: module: timeseries

#1993 Fix timeseries failing silently on irregularly sampled time series
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: discussion, module: timeseries

#2020 Speed up TimeSeriesDataFrame.slice_by_timestep
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/models/sktime/abstract_sktime.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: module: timeseries

#2013 Multi-window backtesting for TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/splitter.py
  timeseries/tests/unittests/test_splitter.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: module: timeseries

#2038 Fix MultiWindowSplitter for timeseries and use faster presets
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/splitter.py
  timeseries/src/autogluon/timeseries/utils/seasonality.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_splitter.py
Labels: module: timeseries

#2044 clean up flake and pep8 warnings in timeseries
  timeseries/src/autogluon/timeseries/evaluator.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/sktime/models.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_sktime.py
Labels: code cleanup, module: timeseries

#2040 Refactor time series ensemble
  timeseries/src/autogluon/timeseries/evaluator.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: code cleanup, module: timeseries

#2060 Implement hash_ts_dataframe_items
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/models/sktime/abstract_sktime.py
  timeseries/src/autogluon/timeseries/utils/hashing.py
  timeseries/tests/unittests/test_hashing.py
Labels: module: timeseries

#2065 revise timeseries presets to minimum context length of 10
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
Labels: module: timeseries

#2073 Fix regret calculation in TimeSeriesEnsembleSelection
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
Labels: bug, module: timeseries

#2072 Handle timeseries model failures during the prediction phase
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/models/test_ensemble.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#2067 Implement wrappers for local models from statsmodels
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/models/sktime/__init__.py
  timeseries/src/autogluon/timeseries/models/sktime/models.py
  timeseries/src/autogluon/timeseries/models/statsmodels/__init__.py
  timeseries/src/autogluon/timeseries/models/statsmodels/abstract_statsmodels.py
  timeseries/src/autogluon/timeseries/models/statsmodels/models.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/test_ensemble.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_sktime.py
  timeseries/tests/unittests/models/test_statsmodels.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_splitter.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries
