Repository autogluon/autogluon, pull requests merged in 2022-06, with the labels that each got.

#1764 Add ForecastingLearner and ForecastingPredictor
  core/src/autogluon/core/learner/abstract_learner.py
  forecasting/src/autogluon/forecasting/configs/__init__.py
  forecasting/src/autogluon/forecasting/configs/presets_configs.py
  forecasting/src/autogluon/forecasting/dataset/ts_dataframe.py
  forecasting/src/autogluon/forecasting/learner.py
  forecasting/src/autogluon/forecasting/models/abstract/abstract_forecasting_model.py
  forecasting/src/autogluon/forecasting/models/gluonts/abstract_gluonts.py
  forecasting/src/autogluon/forecasting/predictor.py
  forecasting/src/autogluon/forecasting/trainer/abstract_trainer.py
  forecasting/src/autogluon/forecasting/trainer/auto_trainer.py
  forecasting/tests/conftest.py
  forecasting/tests/unittests/test_learner.py
  forecasting/tests/unittests/test_predictor.py
  forecasting/tests/unittests/test_trainer.py
  forecasting/tests/unittests/test_ts_dataset.py
  forecasting/tests/unittests/trainer/__init__.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
Labels: enhancement, forecasting

#1782 Support other metrics in score function of AbstractGluonTSModel
  forecasting/src/autogluon/forecasting/learner.py
  forecasting/src/autogluon/forecasting/models/gluonts/abstract_gluonts.py
  forecasting/src/autogluon/forecasting/trainer/abstract_trainer.py
  forecasting/tests/unittests/models/test_models.py
Labels: timeseries

#1778 Fix TimeSeriesDataFrame type inconsistencies
  forecasting/src/autogluon/forecasting/dataset/ts_dataframe.py
  forecasting/src/autogluon/forecasting/predictor.py
  forecasting/tests/unittests/test_ts_dataset.py
Labels: timeseries

#1811 add transformer and MQRNN as first-class models
  timeseries/src/autogluon/timeseries/models/gluonts/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: enhancement, timeseries

#1745 remove direct dependency link to mxnet from timeseries
  Jenkinsfile
  docs/build_contrib_gpu.yml
  docs/build_gpu.yml
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
Labels: install, timeseries

#1820 Revise doc strings and make timeseries API docs available
  docs/api/autogluon.predictor.rst
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
Labels: API & Doc, timeseries

#1817 Fix gpu usage in parallel bagging
  core/src/autogluon/core/hpo/ray_hpo.py
  core/src/autogluon/core/hpo/resources_calculator.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
  core/src/autogluon/core/ray/resources_calculator.py
  core/tests/unittests/hpo/test_ray_hpo.py
  core/tests/unittests/ray/test_resource_calculator.py
  core/tests/unittests/test_parallel_local_folding.py
Labels: urgent

#1826 Fix time series dataframe freq inference
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: timeseries

#1830 Improve logging and leaderboard in timeseries
  timeseries/src/autogluon/timeseries/__init__.py
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/abstract/model_trial.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
  timeseries/tests/unittests/test_trainer.py
Labels: timeseries

#1851 [docs] Updated tutorials for cloud deployment
  docs/tutorials/cloud_fit_deploy/cloud-aws-sagemaker-deployment.md
  docs/tutorials/cloud_fit_deploy/cloud-aws-sagemaker-training.md
Labels: API & Doc

#1839 Add evaluation module to timeseries
  timeseries/src/autogluon/timeseries/__init__.py
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/evaluator.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/utils/metric_utils.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_evaluator.py
  timeseries/tests/unittests/utils/test_metric_utils.py
Labels: timeseries

#1841 Add sktime support to timeseries
  Jenkinsfile
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/sktime/__init__.py
  timeseries/src/autogluon/timeseries/models/sktime/abstract_sktime.py
  timeseries/src/autogluon/timeseries/models/sktime/models.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_sktime.py
Labels: install, timeseries

#1856 Use arima and ets
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/presets.py
Labels: timeseries

#1849 Allow generic item indices in time series dataframe
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_sktime.py
Labels: timeseries

#1888 fix mxnet warning in timeseries
  docs/tutorials/timeseries/forecasting-quickstart.md
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/__init__.py
Labels: install, timeseries

#1901 fix custom target issue in time series HPO, close #1892
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/tests/unittests/test_predictor.py
Labels: bug, timeseries

#1906 [TimeSeries] streamline unit tests
  timeseries/src/autogluon/timeseries/evaluator.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
  timeseries/tests/conftest.py
  timeseries/tests/test_check_style.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_sktime.py
  timeseries/tests/unittests/test_evaluator.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: timeseries
