Repository autogluon/autogluon, pull requests merged in 2022-10, with the labels that each got.

#2180 Add ThetaModel timeseries models
  docs/tutorials/timeseries/forecasting-model-zoo.rst
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/models/statsmodels/__init__.py
  timeseries/src/autogluon/timeseries/models/statsmodels/models.py
  timeseries/tests/unittests/models/test_statsmodels.py
Labels: module: timeseries

#2187 Minor edits to time series in depth tutorial
  docs/tutorials/timeseries/forecasting-indepth.md
Labels: API & Doc, module: timeseries

#2167 Deprecate high, good and low quality presets for time series
  docs/tutorials/timeseries/forecasting-indepth.md
  docs/tutorials/timeseries/forecasting-quickstart.md
  timeseries/src/autogluon/timeseries/configs/presets_configs.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/models/statsmodels/models.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/auto_trainer.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#2189 Fix hyperparameter overloading in HPO for time series models
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#2099 Make sure that time series splitter doesn't trim training series shorter than prediction_length + 1
  timeseries/src/autogluon/timeseries/splitter.py
  timeseries/tests/unittests/test_splitter.py
Labels: module: timeseries

#2188 Add Tabular forecasting model for timeseries
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/__init__.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/unittests/models/test_autogluon_tabular.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_models.py
Labels: module: timeseries

#2203 Enable Ray Tune backend for time series models
  core/src/autogluon/core/hpo/executors.py
  core/src/autogluon/core/searcher/searcher_factory.py
  timeseries/src/autogluon/timeseries/models/abstract/model_trial.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_trainer.py
Labels: feature: hpo, module: timeseries

#2204 Speed up RandomForestQuantileRegressor and ExtraTreesQuantileRegressor
  tabular/src/autogluon/tabular/models/rf/rf_quantile.py
Labels: module: tabular

#2240 Fix timeseries warnings and tqdm output
  timeseries/src/autogluon/timeseries/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/statsmodels/__init__.py
  timeseries/src/autogluon/timeseries/models/statsmodels/abstract_statsmodels.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
Labels: module: timeseries

#2266 Use regression problem type inside AutoGluonTabular forecasting model
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/unittests/models/test_models.py
Labels: module: timeseries

#2258 Add SeasonalNaive and Naive local forecasting models
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/local/__init__.py
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/models/local/models.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
  timeseries/tests/unittests/models/test_local.py
  timeseries/tests/unittests/models/test_models.py
Labels: module: timeseries

#2277 Deprecate passing quantile_levels to TimeSeriesPredictor.predict
  docs/tutorials/timeseries/forecasting-indepth.md
  timeseries/src/autogluon/timeseries/predictor.py
Labels: module: timeseries

#2279 Revise timeseries dependencies and tests, drop mxnet defaults
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/__init__.py
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/abstract/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/mx/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/mx/models.py
  timeseries/src/autogluon/timeseries/models/gluonts/prophet.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/models/sktime/__init__.py
  timeseries/src/autogluon/timeseries/models/sktime/abstract_sktime.py
  timeseries/src/autogluon/timeseries/models/sktime/models.py
  timeseries/tests/test_check_style.py
  timeseries/tests/unittests/models/gluonts/__init__.py
  timeseries/tests/unittests/models/gluonts/mx/__init__.py
  timeseries/tests/unittests/models/gluonts/mx/test_es_callback.py
  timeseries/tests/unittests/models/gluonts/mx/test_mx.py
  timeseries/tests/unittests/models/gluonts/test_gluonts.py
  timeseries/tests/unittests/models/gluonts/test_prophet.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_sktime.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries

#2278 Fix logger messages for time series
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/abstract/model_trial.py
  timeseries/src/autogluon/timeseries/models/statsmodels/abstract_statsmodels.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
Labels: module: timeseries

#2269 [code quality] applied flake8 recommendations
  features/src/autogluon/features/__init__.py
  features/src/autogluon/features/generators/abstract.py
  features/src/autogluon/features/generators/astype.py
  features/src/autogluon/features/generators/auto_ml_pipeline.py
  features/src/autogluon/features/generators/bulk.py
  features/src/autogluon/features/generators/category.py
  features/src/autogluon/features/generators/datetime.py
  features/src/autogluon/features/generators/drop_duplicates.py
  features/src/autogluon/features/generators/pipeline.py
  features/src/autogluon/features/generators/rename.py
  features/src/autogluon/features/generators/text_ngram.py
  features/src/autogluon/features/generators/text_special.py
  features/src/autogluon/features/utils.py
  features/tests/features/conftest.py
  features/tests/features/generators/test_auto_ml_pipeline.py
  features/tests/features/generators/test_bulk.py
  features/tests/features/generators/test_datetime.py
  features/tests/features/generators/test_fillna.py
  features/tests/features/generators/test_pipeline.py
  features/tests/features/test_feature_metadata.py
  features/tests/test_check_style.py
Labels: code cleanup, module: features

#2272 [eda][code quality] enabled tox
  .github/workflow_scripts/env_setup.sh
  .github/workflow_scripts/test_eda.sh
  eda/setup.cfg
  eda/setup.py
  eda/src/autogluon/eda/auto/simple.py
Labels: code cleanup, module: eda

#2255 add shift to eda
  .github/workflow_scripts/test_eda.sh
  eda/setup.py
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/shift.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/jupyter.py
  eda/src/autogluon/eda/visualization/shift.py
  eda/tests/unittests/test_shift.py
Labels: module: eda
