Repository autogluon/autogluon, pull requests merged in 2022-12, with the labels that each got.

#2332 [eda] Correlation and Correlation Significance Analysis
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/base.py
  eda/src/autogluon/eda/analysis/dataset.py
  eda/src/autogluon/eda/analysis/interaction.py
  eda/src/autogluon/eda/analysis/missing.py
  eda/src/autogluon/eda/analysis/shift.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/interaction.py
  eda/tests/unittests/analysis/test_interaction.py
  eda/tests/unittests/visualization/test_interaction.py
Labels: module: eda

#2510 [timeseries] Fix info and fit_summary for TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_predictor.py
Labels: bug, module: timeseries

#2522 [timeseries] Pass known_covariates to component models of the WeightedEnsemble
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries

#2530 [timeseries] Save AutoGluonTabular model to the correct folder
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
Labels: module: timeseries

#2523 [timeseries] Ensure that timestamps are sorted when creating a TimeSeriesDataFrame
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/tests/unittests/models/test_sktime.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: module: timeseries

#2518 [eda] Trained model evaluation analysis
  eda/setup.cfg
  eda/src/autogluon/eda/__init__.py
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/dataset.py
  eda/src/autogluon/eda/analysis/model.py
  eda/src/autogluon/eda/analysis/transform.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/model.py
  eda/tests/unittests/analysis/test_model.py
  eda/tests/unittests/resources/adult/test_data.csv
  eda/tests/unittests/resources/adult/train_data.csv
  eda/tests/unittests/resources/houses/test_data.csv
  eda/tests/unittests/resources/houses/train_data.csv
  eda/tests/unittests/test_shift.py
  eda/tests/unittests/visualization/test_model.py
Labels: module: eda

#2558 Fix int32/int64 difference between windows and other platforms; fix inputs mutation issue
  features/src/autogluon/features/generators/datetime.py
Labels: bug

#2592 [eda] Feature Interaction Analysis
  eda/setup.py
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/interaction.py
  eda/src/autogluon/eda/auto/__init__.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/interaction.py
  eda/tests/unittests/analysis/test_interaction.py
  eda/tests/unittests/visualization/test_interaction.py
Labels: module: eda

#2593 [timeseries] Speed up prediction for GluonTS models
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
  timeseries/tests/unittests/test_evaluator.py
Labels: module: timeseries

#2586 [timeseries] Speed up the train/val splitter
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/splitter.py
  timeseries/tests/unittests/test_splitter.py
Labels: module: timeseries

#2597 [eda] Distribution Fit
  eda/src/autogluon/eda/__init__.py
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/interaction.py
  eda/src/autogluon/eda/visualization/interaction.py
  eda/tests/unittests/analysis/test_interaction.py
  eda/tests/unittests/visualization/test_interaction.py
Labels: module: eda

#2602 [timeseries] Speed up TimeSeriesEnsembleSelection.fit
  timeseries/src/autogluon/timeseries/evaluator.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/tests/unittests/test_evaluator.py
Labels: module: timeseries
