Repository autogluon/autogluon, pull requests merged in 2022-09, with the labels that each got.

#2093 Add deprecation decorator, deprecate TimeSeriesDataFrame.iter_items
  common/src/autogluon/common/utils/deprecated.py
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/evaluator.py
  timeseries/src/autogluon/timeseries/models/statsmodels/abstract_statsmodels.py
  timeseries/src/autogluon/timeseries/models/statsmodels/models.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_statsmodels.py
  timeseries/tests/unittests/test_hashing.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_splitter.py
Labels: code cleanup, module: timeseries

#2092 Fix item order in GluonTS models predictions
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: bug, module: timeseries

#2100 Fix timeseries daily frequency inferred period
  timeseries/src/autogluon/timeseries/utils/seasonality.py
  timeseries/tests/unittests/models/test_statsmodels.py
Labels: module: timeseries

#2098 add timeseries to readme
  README.md
Labels: module: timeseries

#2105 Clean up the TimeSeriesDataFrame public API
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/splitter.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: API & Doc, module: timeseries

#2120 Update documentation for TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/predictor.py
Labels: API & Doc, module: timeseries

#2106 Add TemporalFusionTransformer time series model
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_models.py
Labels: module: timeseries

#2127 Update timeseries quickstart tutorial
  docs/tutorials/timeseries/forecasting-faq.md
  docs/tutorials/timeseries/forecasting-quickstart.md
Labels: API & Doc, module: timeseries

#2147 Speed up TimeSeriesEvaluator
  timeseries/src/autogluon/timeseries/evaluator.py
Labels: module: timeseries

#2150 Avoid division by zero errors in TimeSeriesEvaluator
  timeseries/src/autogluon/timeseries/evaluator.py
Labels: bug, module: timeseries

#2146 Time series forecasting in-depth tutorial
  docs/tutorials/index.rst
  docs/tutorials/timeseries/forecasting-indepth.md
  docs/tutorials/timeseries/forecasting-quickstart.md
  docs/tutorials/timeseries/index.rst
Labels: API & Doc, module: timeseries

#2174 Add description of available timeseries forecasting models
  docs/api/autogluon.predictor.rst
  docs/tutorials/timeseries/forecasting-indepth.md
  docs/tutorials/timeseries/forecasting-model-zoo.rst
  docs/tutorials/timeseries/forecasting-quickstart.md
  docs/tutorials/timeseries/index.rst
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/models/sktime/models.py
  timeseries/src/autogluon/timeseries/models/statsmodels/models.py
Labels: API & Doc
