Repository autogluon/autogluon, pull requests merged in 2022-11, with the labels that each got.

#2267 [eda] Dataset summary analysis
  eda/setup.cfg
  eda/setup.py
  eda/src/autogluon/eda/analysis/base.py
  eda/src/autogluon/eda/analysis/dataset.py
  eda/src/autogluon/eda/analysis/shift.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/state.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/dataset.py
  eda/src/autogluon/eda/visualization/jupyter.py
  eda/tests/unittests/analysis/test_dataset.py
  eda/tests/unittests/auto/test_simple.py
  eda/tests/unittests/test_shift.py
  eda/tests/unittests/visualization/test_dataset.py
  tabular/src/autogluon/tabular/models/rf/compilers/__init__.py
Labels: module: eda

#2276 Enable time-varying covariates (dynamic features) in time series models
  .gitignore
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/mx/models.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/src/autogluon/timeseries/models/local/models.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/gluonts/mx/test_mx.py
  timeseries/tests/unittests/models/gluonts/test_gluonts.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_splitter.py
Labels: module: timeseries

#2283 [eda] Missingness analysis
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/missing.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/dataset.py
  eda/src/autogluon/eda/visualization/missing.py
  eda/tests/unittests/analysis/test_missing.py
  eda/tests/unittests/visualization/test_missing.py
Labels: module: eda

#2286 add import error to timeseries sktime module
  timeseries/src/autogluon/timeseries/models/sktime/__init__.py
Labels: module: timeseries

#2291 [timeseries] Increase the number of samples used by DeepAR at prediction time
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/mx/models.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
Labels: module: timeseries

#2287 Use static features in AutoGluonTabularModel forecasting model
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
  timeseries/tests/unittests/models/test_autogluon_tabular.py
Labels: module: timeseries

#2292 [timeseries] Fix random seed in TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/random.py
  timeseries/tests/unittests/test_learner.py
Labels: module: timeseries

#2294 [timeseries] Use mini-batch prediction for tabular forecasting model
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
  timeseries/tests/unittests/models/test_autogluon_tabular.py
Labels: module: timeseries

#2293 [timeseries] Make WeightedEnsemble robust to base model failures
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries

#2302 [timeseries] fix trainer name collision test
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries

#2305 [timeseries] Move statsmodels models to inherit from AbstractLocalModel
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/local/__init__.py
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/models/local/naive.py
  timeseries/src/autogluon/timeseries/models/local/statsmodels.py
  timeseries/src/autogluon/timeseries/models/statsmodels/__init__.py
  timeseries/src/autogluon/timeseries/models/statsmodels/abstract_statsmodels.py
  timeseries/tests/unittests/models/test_local.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_statsmodels.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries

#2314 [timeseries] Save lightning_logs to model directory when training PyTorch models & clean up after training
  timeseries/src/autogluon/timeseries/models/gluonts/mx/models.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
Labels: module: timeseries

#2324 [timeseries] Fix several minor bugs in TimeSeriesLearner related to static_features handling
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
Labels: bug, module: timeseries

#2323 [timeseries] Enable GPU and transform caching for GluonTS models
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
Labels: module: timeseries

#2322 [timeseries] Enable prediction with known_covariates when ignore_time_index=True
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/splitter.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
  timeseries/tests/unittests/test_learner.py
Labels: API & Doc, module: timeseries

#2354 [timeseries] Update time series API documentation
  docs/api/autogluon.predictor.rst
  docs/tutorials/timeseries/forecasting-model-zoo.rst
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/mx/models.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/src/autogluon/timeseries/models/local/naive.py
  timeseries/src/autogluon/timeseries/models/local/statsmodels.py
  timeseries/src/autogluon/timeseries/predictor.py
Labels: API & Doc, module: timeseries

#2355 [timeseries] Update the quickstart and in-depth tutorials
  docs/tutorials/timeseries/forecasting-faq.md
  docs/tutorials/timeseries/forecasting-indepth.md
  docs/tutorials/timeseries/forecasting-quickstart.md
Labels: API & Doc, module: timeseries

#2398 [timeseries] Fix leaderboard bug if training data contains static features
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/tests/unittests/test_learner.py
Labels: bug, module: timeseries

#2403 [docs] Apple Silicon Instructions
  docs/install-include.rst
  docs/install-macos-apple-silicon.rst
  docs/install-macos-no-gpu.rst
Labels: API & Doc

#2405 [timeseries] make core and tabular dependencies explicit
  timeseries/setup.py
Labels: module: timeseries

#2420 [timeseries] Fix pandas groupby bug + GluonTS index bug
  timeseries/src/autogluon/timeseries/evaluator.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/tabular_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/sktime/abstract_sktime.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
  timeseries/src/autogluon/timeseries/utils/hashing.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_sktime.py
  timeseries/tests/unittests/test_utils.py
Labels: bug, module: timeseries
