Repository autogluon/autogluon, pull requests merged in 2023-06, with the labels that each got.

#3252 [timeseries] Minor bugfixes & improvements for local forecasting models
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/models/local/statsforecast.py
  timeseries/src/autogluon/timeseries/models/local/statsmodels.py
  timeseries/tests/unittests/models/test_local.py
  timeseries/tests/unittests/models/test_models.py
Labels: module: timeseries

#3188 [multimodal]Upgrade object detection backend to mmdet 3.0
  .github/workflow_scripts/env_setup.sh
  .github/workflow_scripts/setup_mmcv.sh
  CI/docker/full_install_image.sh
  docs/index.md
  docs/install-modules.md
  docs/tutorials/multimodal/object_detection/data_preparation/object_detection_with_dataframe.ipynb
  docs/tutorials/multimodal/object_detection/finetune/detection_fast_finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/finetune/detection_high_performance_finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/index.md
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
  examples/automm/object_detection/finetune_coco_format.py
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/configs/model/fusion_mlp_image_text_tabular.yaml
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_l_8xb8-300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_m_8xb8-300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_nano_8x8_300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_nano_8xb8-300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_s_8x8_300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_s_8xb8-300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_tiny_8x8_300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_tiny_8xb8-300e_coco.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_tta.py
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/yolox/yolox_x_8xb8-300e_coco.py
  multimodal/src/autogluon/multimodal/data/dataset_mmlab/multi_image_mix_dataset.py
  multimodal/src/autogluon/multimodal/data/process_mmlab/process_mmdet.py
  multimodal/src/autogluon/multimodal/data/process_mmlab/process_mmlab_base.py
  multimodal/src/autogluon/multimodal/models/mmdet_image.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/optimization/lit_mmdet.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/mmcv.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/tests/hf_model_list.yaml
  multimodal/tests/unittests/others/test_deployment_torch.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked

#3258 Fix broken README.md links
  README.md
Labels: API & Doc

#3257 Tabular: Fix incorrect warning log
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/weighted_ensemble_model.py
Labels: API & Doc, module: tabular

#3266 [bug][multimodal] fix import error in object detection
  multimodal/src/autogluon/multimodal/data/dataset_mmlab/multi_image_mix_dataset.py
Labels: bug

#3261 Fewshot learning
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/few_shot_learning.py
  multimodal/tests/unittests/others_2/test_fewshot_predictor.py
Labels: model list checked

#3269 Update scikit-learn-intelex to 2023.1
  tabular/setup.py
Labels: module: tabular, dependency

#2981 Move interpretable logic to InterpretableTabularPredictor
  features/src/autogluon/features/generators/__init__.py
  features/src/autogluon/features/generators/auto_ml_pipeline.py
  tabular/src/autogluon/tabular/configs/feature_generator_presets.py
  tabular/src/autogluon/tabular/configs/hyperparameter_configs.py
  tabular/src/autogluon/tabular/configs/presets_configs.py
  tabular/src/autogluon/tabular/predictor/__init__.py
  tabular/src/autogluon/tabular/predictor/interpretable_predictor.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: module: tabular, priority: 1

#3268 Update CatBoost to 1.2
  tabular/setup.py
Labels: module: tabular, dependency

#3286 Add enable_categorical=True support to XGBoost
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
  tabular/tests/unittests/models/test_xgboost.py
Labels: enhancement, module: tabular

#3287 Tabular: Log hyperparameters
  common/src/autogluon/common/model_filter/_model_filter.py
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
Labels: API & Doc, module: tabular

#3289 [AutoMM] Support model parameter number statistics
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others_2/test_predictor_advanced.py
Labels: API & Doc, model list checked

#3288 Tabular: Fix crash when save path is absolute
  common/src/autogluon/common/utils/path_converter.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/stacker_ensemble_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/tests/conftest.py
  tabular/tests/unittests/models/test_dummy.py
Labels: bug, module: tabular, priority: 0

#3291 [AutoMM] Log GPU info
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/log.py
  multimodal/tests/unittests/others_2/test_predictor_advanced.py
Labels: model list checked

#3279 [AutoMM] Fix hyperparameters consistency between init() and fit()
  multimodal/src/autogluon/multimodal/configs/optimization/adamw.yaml
  multimodal/src/autogluon/multimodal/matcher.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/tests/unittests/others/test_matcher.py
  multimodal/tests/unittests/others/test_object_detection.py
  multimodal/tests/unittests/predictor/test_predictor.py
  multimodal/tests/unittests/utils/unittest_datasets.py
Labels: model list checked

#3290 [timeseries] Subsample time series to avoid high memory usage of the RecursiveTabular model
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/tests/unittests/models/test_mlforecast.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries

#3294 Fix `predict_multi` crashing when `inverse_transform=False`
  core/src/autogluon/core/utils/utils.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/tests/unittests/test_tabular.py
Labels: bug, module: tabular, priority: 0

#3295 Continuous learning tutorial
  docs/tutorials/multimodal/advanced_topics/continuous_training.ipynb
  docs/tutorials/multimodal/advanced_topics/index.md
  docs/tutorials/multimodal/index.md
  docs/tutorials/multimodal/text_prediction/beginner_text.ipynb
Labels: model list checked

#3270 Add TabPFN
  core/src/autogluon/core/utils/utils.py
  docs/api/autogluon.tabular.models.rst
  docs/install-modules.md
  tabular/setup.py
  tabular/src/autogluon/tabular/configs/hyperparameter_configs.py
  tabular/src/autogluon/tabular/configs/presets_configs.py
  tabular/src/autogluon/tabular/models/__init__.py
  tabular/src/autogluon/tabular/models/tabpfn/__init__.py
  tabular/src/autogluon/tabular/models/tabpfn/tabpfn_model.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/tests/unittests/configs/test_config_helper.py
  tabular/tests/unittests/models/test_tabpfn.py
Labels: enhancement, module: tabular, priority: 1

#3300 continuous training tutorial update
  docs/tutorials/multimodal/advanced_topics/continuous_training.ipynb
Labels: model list checked

#3298 Add calibrate_decision_threshold
  core/src/autogluon/core/calibrate/__init__.py
  core/src/autogluon/core/calibrate/_decision_threshold.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/src/autogluon/core/utils/utils.py
  core/tests/unittests/calibrate/test_decision_threshold.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/models/test_lightgbm.py
Labels: enhancement, module: tabular, priority: 0

#3267 Fewshot learning predict proba
  multimodal/src/autogluon/multimodal/utils/few_shot_learning.py
  multimodal/tests/unittests/others_2/test_fewshot_predictor.py
Labels: model list checked

#3280 Update mac cpu install instructions
  docs/install-mac-cpu-source.md
  docs/install-mac-cpu.md
  docs/install-mac-libomp.md
  docs/install.md
Labels: API & Doc, install

#3306 Update GPU installation guide to use CUDA 11.7
  .github/workflow_scripts/env_setup.sh
  docs/install-gpu-pip.md
  docs/install-gpu-source.md
  docs/install-windows-gpu.md
Labels: API & Doc

#3314 [Doc] AutoMM FAQ Updates
  docs/tutorials/multimodal/multimodal-faq.md
Labels: model list checked

#3321 Add model keys doc
  docs/api/autogluon.tabular.models.rst
Labels: API & Doc, module: tabular

#3331 Move PyMuPDF to optional
  docs/tutorials/multimodal/document/pdf_classification.ipynb
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/data/process_document.py
Labels: model list checked

#3348 Fix refit crash
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: bug, module: tabular

#3350 [timeseries] Fix bugs in DirectTabularModel
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/direct_tabular.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
  timeseries/tests/smoketests/test_features_and_covariates.py
  timeseries/tests/unittests/models/test_direct_tabular.py
Labels: bug, module: timeseries

#3359 Add missing colab buttons to advanced AutoMM tutorials
  docs/tutorials/multimodal/advanced_topics/continuous_training.ipynb
  docs/tutorials/multimodal/advanced_topics/presets.ipynb
Labels: model list checked
