Repository autogluon/autogluon, pull requests merged in 2023-03, with the labels that each got.

#2986 Fix AsTypeFeatureGenerator Edge-case Crash
  features/src/autogluon/features/generators/abstract.py
  features/src/autogluon/features/generators/astype.py
  features/tests/features/conftest.py
  features/tests/features/generators/test_auto_ml_pipeline.py
  features/tests/features/generators/test_bulk.py
Labels: bug, module: tabular, priority: 0

#2991 [eda] various fixes and quality of life improvements
  eda/setup.cfg
  eda/src/autogluon/eda/analysis/dataset.py
  eda/src/autogluon/eda/analysis/model.py
  eda/src/autogluon/eda/analysis/transform.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/model.py
  eda/src/autogluon/eda/visualization/shift.py
  eda/tests/unittests/analysis/test_dataset.py
  eda/tests/unittests/analysis/test_model.py
  eda/tests/unittests/auto/test_simple.py
  eda/tests/unittests/visualization/test_model.py
Labels: module: eda

#2989 [NER] Use BertPreTokenizer for pre-tokenization
  multimodal/src/autogluon/multimodal/data/utils.py
  multimodal/src/autogluon/multimodal/utils/misc.py
  multimodal/tests/unittests/others/test_utils.py
Labels: model list checked

#2990 Fix crash when 0 rows of class
  core/src/autogluon/core/utils/utils.py
Labels: bug, module: tabular

#2948 [Post 0.7] [multimodal] Support xywh output for object detection
  multimodal/src/autogluon/multimodal/configs/model/fusion_mlp_image_text_tabular.yaml
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/models/mmdet_image.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked

#2836 [MultiModal] Fusion model inference acceleration with TensorRT
  .github/workflow_scripts/env_setup.sh
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/models/fusion/fusion_mlp.py
  multimodal/src/autogluon/multimodal/models/huggingface_text.py
  multimodal/src/autogluon/multimodal/models/ner_text.py
  multimodal/src/autogluon/multimodal/models/numerical_mlp.py
  multimodal/src/autogluon/multimodal/models/t_few.py
  multimodal/src/autogluon/multimodal/models/timm_image.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/export.py
  multimodal/src/autogluon/multimodal/utils/onnx.py
  multimodal/tests/unittests/others/test_deployment_onnx.py
  multimodal/tests/unittests/others/test_deployment_tensorrt.py
Labels: model list checked

#2998 Update presets.py
  timeseries/src/autogluon/timeseries/models/presets.py
Labels: module: timeseries

#2864 [Post 0.7] [DocClassifier] PDF Document Classification
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/infer_types.py
  multimodal/src/autogluon/multimodal/data/process_document.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/tests/unittests/others_2/test_doc_classification.py
Labels: model list checked

#3001 AutoMM: Avoid redundant checkpointing and evaluation (2x training speedup)
  multimodal/src/autogluon/multimodal/utils/checkpoint.py
Labels: bug, enhancement, module: multimodal

#3006 [AutoMM] Support using data path in fit()
  multimodal/src/autogluon/multimodal/matcher.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#2983 [MultiModal] Remove MultiModalOnnxPredictor and rename export_tensorrt
  multimodal/src/autogluon/multimodal/__init__.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/export.py
  multimodal/src/autogluon/multimodal/utils/onnx.py
  multimodal/tests/unittests/others/test_deployment_onnx.py
  multimodal/tests/unittests/others/test_deployment_tensorrt.py
Labels: model list checked

#3025 [NER] Fix Negative Index Issue
  multimodal/src/autogluon/multimodal/data/utils.py
Labels: model list checked

#3014 [eda] added `explain_rows` method to `autogluon.eda.auto` - Kernel SHAP visualization
  docs/tutorials/eda/eda-auto-quick-fit.ipynb
  docs/tutorials/eda/eda-auto-target-analysis.ipynb
  eda/setup.py
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/explain.py
  eda/src/autogluon/eda/analysis/model.py
  eda/src/autogluon/eda/auto/__init__.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/explain.py
  eda/src/autogluon/eda/visualization/interaction.py
  eda/tests/unittests/analysis/test_explain.py
  eda/tests/unittests/analysis/test_model.py
  eda/tests/unittests/auto/test_simple.py
  eda/tests/unittests/visualization/test_explain.py
Labels: module: eda

#3022 [AutoMM] Support customizing image data augmentation
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  examples/automm/kaggle_pawpularity/README.md
  examples/automm/kaggle_pawpularity/kaggle_pawpularity_train.py
  multimodal/src/autogluon/multimodal/configs/model/fusion_mlp_image_text_tabular.yaml
  multimodal/src/autogluon/multimodal/data/process_image.py
  multimodal/src/autogluon/multimodal/data/utils.py
  multimodal/src/autogluon/multimodal/matcher.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/config.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/src/autogluon/multimodal/utils/pipeline.py
  multimodal/tests/unittests/others/test_process_image.py
  multimodal/tests/unittests/others/test_utils.py
  multimodal/tests/unittests/others_2/test_data_augmentation.py
  multimodal/tests/unittests/others_2/test_data_process_image.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3045 Tabular: Fix evaluate warning in regression
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: API & Doc, module: tabular, priority: 2

#3039 [eda] switch regression analysis in `quick_fit` to use residuals plot
  eda/setup.py
  eda/src/autogluon/eda/analysis/model.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/model.py
  eda/tests/unittests/analysis/test_model.py
  eda/tests/unittests/visualization/test_model.py
Labels: module: eda

#3033 Tabular: Refactor params_aux & memory checks
  core/src/autogluon/core/constants.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/tests/unittests/models/abstract_model/test_init_user_params.py
  tabular/src/autogluon/tabular/models/catboost/catboost_model.py
  tabular/src/autogluon/tabular/models/knn/knn_model.py
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/src/autogluon/tabular/models/rf/rf_model.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
Labels: API & Doc, enhancement, module: tabular, priority: 1

#3048 [AutoMM] Fix terminal input hyperparameters
  multimodal/src/autogluon/multimodal/utils/config.py
  multimodal/tests/unittests/others_2/test_predictor_advanced.py
Labels: model list checked

#2987 [multimodal] add tensorrt tutorial
  docs/tutorials/multimodal/advanced_topics/index.md
  docs/tutorials/multimodal/advanced_topics/tensorrt.ipynb
Labels: model list checked

#3052 Support sample_weight in RMSE
  core/src/autogluon/core/metrics/__init__.py
  core/tests/unittests/metrics/test_metrics.py
Labels: enhancement, module: tabular

#3055 [AutoMM] Fix NER HPO
  multimodal/src/autogluon/multimodal/data/infer_types.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/tests/unittests/others/test_utils.py
Labels: model list checked

#3056 [eda][api][docs] Introduced dot notation for properties to simplify components customization UX
  docs/tutorials/eda/components/autogluon.eda.explain.md
  docs/tutorials/eda/components/index.md
  docs/tutorials/eda/eda-auto-quick-fit.ipynb
  eda/src/autogluon/eda/analysis/explain.py
  eda/src/autogluon/eda/analysis/model.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/state.py
  eda/src/autogluon/eda/visualization/interaction.py
  eda/src/autogluon/eda/visualization/shift.py
  eda/tests/unittests/analysis/test_explain.py
  eda/tests/unittests/auto/test_simple.py
  eda/tests/unittests/test_state.py
Labels: API & Doc, module: eda

#3043 [AutoMM] PDF document classification tutorial
  docs/tutorials/multimodal/document/index.md
  docs/tutorials/multimodal/document/pdf_classification.ipynb
  docs/tutorials/multimodal/index.md
  multimodal/src/autogluon/multimodal/data/process_document.py
Labels: model list checked

#3069 Tabular: Add available disk logging + warning
  common/src/autogluon/common/utils/resource_utils.py
  tabular/src/autogluon/tabular/learner/default_learner.py
Labels: API & Doc, module: tabular

#3004 AutoMM: Add consistent seed, stratification, alignment with tabular for train-val split
  multimodal/src/autogluon/multimodal/predictor.py
Labels: bug, enhancement, module: multimodal, priority: 1

#3071 [eda] Partial Dependence Plots support
  docs/tutorials/eda/components/autogluon.eda.interaction.md
  docs/tutorials/eda/eda-auto-analyze-interaction.ipynb
  docs/tutorials/eda/references/autogluon.eda.auto.md
  docs/tutorials/eda/references/autogluon.eda.base-apis.md
  eda/src/autogluon/eda/analysis/base.py
  eda/src/autogluon/eda/auto/__init__.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/base.py
  eda/src/autogluon/eda/visualization/explain.py
  eda/src/autogluon/eda/visualization/interaction.py
  eda/src/autogluon/eda/visualization/shift.py
  eda/tests/unittests/analysis/test_base.py
  eda/tests/unittests/auto/test_simple.py
  eda/tests/unittests/visualization/test_explain.py
Labels: module: eda

#2921 Cleanup save/load code
  common/src/autogluon/common/loaders/load_pd.py
  common/src/autogluon/common/loaders/load_s3.py
  common/src/autogluon/common/savers/save_pd.py
Labels: API & Doc, module: tabular, code cleanup, priority: 1

#3079 [eda] Partial Dependence Plots - Two-Way Interactions
  docs/tutorials/eda/eda-auto-analyze-interaction.ipynb
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/interaction.py
  eda/tests/unittests/visualization/test_interaction.py
Labels: module: eda

#3064 [multimodal] compile without saving to disk
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/utils/export.py
  multimodal/src/autogluon/multimodal/utils/onnx.py
  multimodal/tests/unittests/others/test_deployment_onnx.py
Labels: model list checked
