Repository autogluon/autogluon, pull requests merged in 2023-05, with the labels that each got.

#3202 [timeseries] Remove deprecations scheduled for v0.8
  timeseries/src/autogluon/timeseries/predictor.py
Labels: module: timeseries

#3164 [multimodal] Add Foundation Model for Object Detection
  .github/workflow_scripts/build_doc.sh
  .github/workflow_scripts/env_setup.sh
  .github/workflow_scripts/setup_groundingdino.sh
  .github/workflow_scripts/setup_mmcv.sh
  docs/tutorials/multimodal/object_detection/index.md
  docs/tutorials/multimodal/object_detection/quick_start/index.md
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_ovd.ipynb
  examples/automm/ovd/ovd_demo.py
  multimodal/src/autogluon/multimodal/configs/model/fusion_mlp_image_text_tabular.yaml
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/__init__.py
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/grounding_dino/GroundingDINO_SwinB.cfg.py
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/grounding_dino/GroundingDINO_SwinT_OGC.py
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/grounding_dino/__init__.py
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/__init__.py
  multimodal/src/autogluon/multimodal/data/infer_types.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/data/process_ovd.py
  multimodal/src/autogluon/multimodal/data/utils.py
  multimodal/src/autogluon/multimodal/models/__init__.py
  multimodal/src/autogluon/multimodal/models/ovd.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/colormap.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/src/autogluon/multimodal/utils/inference.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/src/autogluon/multimodal/utils/ovd.py
Labels: model list checked

#3184 [timeseries] Update the RecursiveTabular model
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/utils.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
  timeseries/tests/unittests/models/test_mlforecast.py
Labels: module: timeseries

#3228 Update namespace packages for PEP420 compatibility
  autogluon/src/autogluon/__init__.py
  autogluon/src/autogluon/_internal_/__init__.py
  common/src/autogluon/__init__.py
  core/src/__init__.py
  core/src/autogluon/__init__.py
  core/src/autogluon/core/_setup_utils.py
  core/src/autogluon/core/utils/version_utils.py
  eda/src/autogluon/__init__.py
  features/src/autogluon/__init__.py
  multimodal/src/autogluon/__init__.py
  tabular/src/autogluon/__init__.py
  timeseries/src/autogluon/__init__.py
Labels: code cleanup

#3220 [multimodal]Enable backbone freezing to boost finetuning speed and save GPU usage
  examples/automm/object_detection/finetune_coco_format.py
  multimodal/src/autogluon/multimodal/configs/model/fusion_mlp_image_text_tabular.yaml
  multimodal/src/autogluon/multimodal/models/mmdet_image.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/optimization/lit_mmdet.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked

#3227 [AutoMM] refactor inferring problem type and output shape
  multimodal/src/autogluon/multimodal/data/infer_types.py
  multimodal/src/autogluon/multimodal/matcher.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/tests/unittests/others/test_deployment_onnx.py
  multimodal/tests/unittests/others/test_utils.py
Labels: model list checked

#3010 Tabular: Enhance drop_duplicates, enable by default
  common/src/autogluon/common/__init__.py
  eda/tests/unittests/analysis/test_model.py
  features/src/autogluon/features/generators/drop_duplicates.py
  features/src/autogluon/features/generators/pipeline.py
  features/tests/features/generators/test_auto_ml_pipeline.py
  features/tests/features/generators/test_drop_duplicates.py
  features/tests/features/generators/test_pipeline.py
  tabular/tests/unittests/configs/test_config_helper.py
Labels: enhancement, module: tabular, priority: 0

#3241 Remove mxnet dependencies
  .gitignore
  CONTRIBUTING.md
  common/src/autogluon/common/utils/resource_utils.py
  common/src/autogluon/common/utils/try_import.py
  core/src/autogluon/core/metrics/__init__.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  docs/api/autogluon.tabular.models.rst
  docs/tutorials/cloud_fit_deploy/cloud-aws-sagemaker-training.ipynb
  docs/tutorials/tabular/advanced/tabular-gpu.ipynb
  docs/tutorials/tabular/tabular-faq.md
  docs/tutorials/tabular/tabular-multimodal.ipynb
  examples/tabular/distill/example_distill_binary.py
  tabular/src/autogluon/tabular/models/__init__.py
  tabular/src/autogluon/tabular/models/tabular_nn/hyperparameters/parameters.py
  tabular/src/autogluon/tabular/models/tabular_nn/hyperparameters/searchspaces.py
  tabular/src/autogluon/tabular/models/tabular_nn/mxnet/__init__.py
  tabular/src/autogluon/tabular/models/tabular_nn/mxnet/embednet.py
  tabular/src/autogluon/tabular/models/tabular_nn/mxnet/lr_scheduler.py
  tabular/src/autogluon/tabular/models/tabular_nn/mxnet/tabular_nn_dataset.py
  tabular/src/autogluon/tabular/models/tabular_nn/mxnet/tabular_nn_mxnet.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_torch_dataset.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets_distill.py
  tabular/tests/unittests/configs/test_config_helper.py
Labels: code cleanup

#3245 [doc] Update to simplify SageMaker train/deploy docs
  docs/tutorials/cloud_fit_deploy/cloud-aws-lambda-deployment.ipynb
  docs/tutorials/cloud_fit_deploy/cloud-aws-sagemaker-deployment.ipynb
  docs/tutorials/cloud_fit_deploy/cloud-aws-sagemaker-train-deploy.ipynb
  docs/tutorials/cloud_fit_deploy/cloud-aws-sagemaker-training.ipynb
  docs/tutorials/cloud_fit_deploy/index.md
Labels: API & Doc
