Repository autogluon/autogluon, pull requests merged in 2023-10, with the labels that each got.

#3570 Cleanup temperature scaling logic
  core/src/autogluon/core/calibrate/temperature_scaling.py
  core/src/autogluon/core/models/abstract/abstract_model.py
Labels: module: tabular

#3421 Tabular: Add model failures tracking support
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/dummy/dummy_model.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/learner/default_learner.py
  tabular/src/autogluon/tabular/models/automm/automm_model.py
  tabular/src/autogluon/tabular/models/catboost/catboost_model.py
  tabular/src/autogluon/tabular/models/fasttext/fasttext_model.py
  tabular/src/autogluon/tabular/models/lgb/callbacks.py
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/src/autogluon/tabular/models/vowpalwabbit/vowpalwabbit_model.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/models/test_dummy.py
  tabular/tests/unittests/test_tabular.py
Labels: enhancement, module: tabular, priority: 0

#3553 Force versions link to always go to stable versions file
  docs/index.md
Labels: API & Doc

#3573 Enable Deterministic OOF Predictions
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
Labels: enhancement, module: tabular

#3430 Add What's New to website docs
  docs/index.md
  docs/whats_new/index.md
  docs/whats_new/v0.4.0.md
  docs/whats_new/v0.4.1.md
  docs/whats_new/v0.5.1.md
  docs/whats_new/v0.6.0.md
  docs/whats_new/v0.6.1.md
  docs/whats_new/v0.6.2.md
  docs/whats_new/v0.7.0.md
  docs/whats_new/v0.8.0.md
  docs/whats_new/v0.8.1.md
  docs/whats_new/v0.8.2.md
Labels: API & Doc

#3579 [AutoMM] Fix tutorial links and titles
  docs/tutorials/multimodal/advanced_topics/continuous_training.ipynb
  docs/tutorials/multimodal/advanced_topics/index.md
  docs/tutorials/multimodal/document/document_classification.ipynb
  docs/tutorials/multimodal/image_prediction/clip_zeroshot.ipynb
  docs/tutorials/multimodal/index.md
  docs/tutorials/multimodal/matching/index.md
  docs/tutorials/multimodal/multimodal_prediction/index.md
  docs/tutorials/multimodal/multimodal_prediction/multimodal_ner.ipynb
  docs/tutorials/multimodal/text_prediction/chinese_ner.ipynb
  docs/tutorials/multimodal/text_prediction/index.md
  docs/tutorials/multimodal/text_prediction/ner.ipynb
Labels: model list checked

#3190 Add support for python 3.11
  .github/workflows/platform_tests-command.yml
  common/src/autogluon/common/utils/try_import.py
  core/setup.py
  core/src/autogluon/core/_setup_utils.py
  docs/install-cpu-pip.md
  docs/install-cpu-source.md
  docs/install-gpu-pip.md
  docs/install-gpu-source.md
  docs/install-windows-gpu.md
  examples/automm/object_detection/detection_eval.py
  examples/automm/object_detection/detection_train.py
  multimodal/setup.py
  multimodal/tests/unittests/others/test_deployment_onnx.py
  tabular/setup.py
  tabular/tests/unittests/models/test_catboost.py
  tabular/tests/unittests/models/test_vowpalwabbit.py
  tabular/tests/unittests/test_tabular.py
Labels: enhancement, install, model list checked, dependency, priority: 0

#3548 [AutoMM] Support Custom Metrics in AutoMM
  core/src/autogluon/core/trainer/abstract_trainer.py
  multimodal/src/autogluon/multimodal/matcher.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/few_shot_learning.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/tests/unittests/others/test_metrics.py
Labels: model list checked

#3591 Fix model memory usage calculation
  core/src/autogluon/core/models/abstract/abstract_model.py
Labels: bug, module: tabular, priority: 0

#3566 [Feature][Multimodal] CI for running AG Multimodal tests in multi-gpu environment
  .github/workflow_scripts/test_multimodal.sh
  .github/workflows/continuous_integration.yml
  CI/batch/submit-job.py
  multimodal/tests/conftest.py
  multimodal/tests/unittests/others/test_classification.py
  multimodal/tests/unittests/others/test_deployment_onnx.py
  multimodal/tests/unittests/others/test_deployment_torch.py
  multimodal/tests/unittests/others/test_matcher.py
  multimodal/tests/unittests/others/test_object_detection.py
  multimodal/tests/unittests/others_2/test_backward_compatibility.py
  multimodal/tests/unittests/others_2/test_fewshot_predictor.py
  multimodal/tests/unittests/others_2/test_predictor_advanced.py
  multimodal/tests/unittests/others_2/test_zero_shot.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: resource: GPU, module: multimodal, model list checked, priority: 1

#3593 [AutoMM] Fix object detection prediction on COCO json files without annotations.
  docs/tutorials/multimodal/object_detection/data_preparation/convert_data_to_coco_format.ipynb
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: bug, model list checked

#3590 [AutoMM] fix stratification based on problem_type
  multimodal/src/autogluon/multimodal/predictor.py
Labels: module: multimodal, priority: 1

#3596 Add predict_children
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/utils/utils.py
  tabular/tests/conftest.py
  tabular/tests/unittests/models/test_advanced.py
Labels: API & Doc, enhancement, module: tabular

#3598 Make the Last Layer's Post Hoc Ensemble (Weighted Ensemble) Use all Models
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/edgecases/test_edgecases.py
Labels: enhancement, module: tabular

#3607 Fix additional broken links
  docs/whats_new/v0.5.1.md
  docs/whats_new/v0.6.0.md
  docs/whats_new/v0.7.0.md
  release_instructions/ReleaseInstructions.md
Labels: API & Doc

#3614 Avoid Memory Leak by Using a Sequential Version of ParallelFoldFittingStrategy instead of SequentialLocalFoldFittingStrategy If Not Enough Memory to Fit Models in Parallel
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
  tabular/tests/unittests/edgecases/test_edgecases.py
Labels: enhancement, module: tabular

#3615 [AutoMM] Fix mmdet and mmcv version and detection input data format.
  .github/workflow_scripts/setup_mmcv.sh
  CI/docker/full_install_image.sh
  docs/index.md
  docs/install-modules.md
  docs/tutorials/multimodal/object_detection/advanced/finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/data_preparation/object_detection_with_dataframe.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked

#3617 [AutoMM] Fix multigpu errors for object detection
  examples/automm/object_detection/quick_start_on_a_tiny_dataset.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/utils/cache.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked

#3621 [AutoMM] FT_Transformer refactor
  examples/automm/kaggle_california_house_price/example_kaggle_house.py
  examples/automm/tabular_dl/example_tabular.py
  multimodal/src/autogluon/multimodal/configs/model/fusion_mlp_image_text_tabular.yaml
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/models/__init__.py
  multimodal/src/autogluon/multimodal/models/categorical_transformer.py
  multimodal/src/autogluon/multimodal/models/custom_transformer.py
  multimodal/src/autogluon/multimodal/models/ft_transformer.py
  multimodal/src/autogluon/multimodal/models/fusion/fusion_transformer.py
  multimodal/src/autogluon/multimodal/models/numerical_mlp.py
  multimodal/src/autogluon/multimodal/models/numerical_transformer.py
  multimodal/src/autogluon/multimodal/utils/config.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others/test_auto_model.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3641 Add convert_error_to_score
  core/src/autogluon/core/metrics/__init__.py
  core/tests/unittests/metrics/test_metrics.py
Labels: module: tabular

#3642 Add tqdm to common, fix incorrect function name in load_pd.py
  common/setup.py
  common/src/autogluon/common/loaders/load_pd.py
  common/src/autogluon/common/utils/s3_utils.py
Labels: module: common

#3644 Update FT-Transformer to work post-refactor
  tabular/src/autogluon/tabular/models/automm/ft_transformer.py
Labels: module: tabular
