Repository autogluon/autogluon, pull requests merged in 2023-04, with the labels that each got.

#3103 [multimodal] fix sts benchmark dataset missing problem
  multimodal/tests/unittests/others/test_deployment_onnx.py
Labels: model list checked

#3106 [DocumentAI] support standalone model loading
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/load.py
  multimodal/tests/unittests/others_2/test_doc_standalone.py
Labels: model list checked

#3107 [eda][bugfixes] fix `quick_fit` residuals plot to use unseen data for Train
  docs/tutorials/eda/eda-auto-quick-fit.ipynb
  eda/src/autogluon/eda/analysis/model.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/visualization/model.py
  eda/tests/unittests/analysis/test_model.py
  eda/tests/unittests/auto/test_simple.py
  eda/tests/unittests/visualization/test_model.py
Labels: bug, module: eda

#3119 [multimodal] Fix mmdet version
  .github/workflow_scripts/env_setup.sh
  .github/workflow_scripts/setup_mmcv.sh
  docs/index.md
  docs/install-modules.md
  docs/tutorials/multimodal/object_detection/data_preparation/object_detection_with_dataframe.ipynb
  docs/tutorials/multimodal/object_detection/finetune/detection_fast_finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/finetune/detection_high_performance_finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
  multimodal/src/autogluon/multimodal/data/process_mmlab/process_mmlab_base.py
  multimodal/src/autogluon/multimodal/models/mmdet_image.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/tests/unittests/others_2/test_text_recognition.py
Labels: model list checked

#3124 [eda] Anomaly detection analysis
  docs/tutorials/eda/components/autogluon.eda.anomaly.md
  docs/tutorials/eda/components/index.md
  docs/tutorials/eda/references/autogluon.eda.auto.md
  eda/setup.cfg
  eda/setup.py
  eda/src/autogluon/eda/analysis/__init__.py
  eda/src/autogluon/eda/analysis/anomaly.py
  eda/src/autogluon/eda/analysis/interaction.py
  eda/src/autogluon/eda/analysis/shift.py
  eda/src/autogluon/eda/auto/__init__.py
  eda/src/autogluon/eda/auto/simple.py
  eda/src/autogluon/eda/state.py
  eda/src/autogluon/eda/utils/common.py
  eda/src/autogluon/eda/visualization/__init__.py
  eda/src/autogluon/eda/visualization/anomaly.py
  eda/tests/unittests/analysis/test_anomaly.py
  eda/tests/unittests/auto/test_simple.py
  eda/tests/unittests/test_state.py
  eda/tests/unittests/visualization/test_anomaly.py
Labels: module: eda

#3138 [eda] Add shift analysis descriptive information to state object
  eda/src/autogluon/eda/analysis/shift.py
  eda/src/autogluon/eda/auto/simple.py
  eda/tests/unittests/test_shift.py
Labels: module: eda

#3137 [eda][docs] Anomaly Detector tutorial
  docs/tutorials/eda/eda-auto-anomaly-detection.ipynb
  docs/tutorials/eda/index.md
  eda/src/autogluon/eda/auto/simple.py
Labels: API & Doc, module: eda

#3159 [WIP] Added sphinx opengraph meta tags support
  docs/conf.py
  docs/requirements_doc.txt
Labels: API & Doc

#3167 [multimodal] add "__init__.py" in configs folder
  multimodal/src/autogluon/multimodal/configs/__init__.py
Labels: bug, module: multimodal

#3165 [tabular] Add quantile regression support for CatBoost
  tabular/setup.py
  tabular/src/autogluon/tabular/models/catboost/callbacks.py
  tabular/src/autogluon/tabular/models/catboost/catboost_model.py
  tabular/src/autogluon/tabular/models/catboost/catboost_utils.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/tests/unittests/models/test_catboost.py
Labels: module: tabular

#3168 [tabular] Implement quantile regression for LGBModel
  tabular/src/autogluon/tabular/models/lgb/hyperparameters/parameters.py
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/src/autogluon/tabular/models/lgb/lgb_utils.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/tests/unittests/models/test_lightgbm.py
Labels: module: tabular

#3182 [tabular] Fix RandomForestQuantileRegressor failing if sklearn >= 1.2.0
  tabular/src/autogluon/tabular/models/rf/rf_quantile.py
Labels: module: tabular
