Repository autogluon/autogluon, pull requests merged in 2023-08, with the labels that each got.

#3419 Upgrade lightning to 2.0
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/matcher.py
  multimodal/src/autogluon/multimodal/optimization/lit_distiller.py
  multimodal/src/autogluon/multimodal/optimization/lit_matcher.py
  multimodal/src/autogluon/multimodal/optimization/lit_mmdet.py
  multimodal/src/autogluon/multimodal/optimization/lit_module.py
  multimodal/src/autogluon/multimodal/optimization/lit_ner.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/checkpoint.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/inference.py
  timeseries/setup.py
Labels: model list checked

#3434 [AutoMM] Unify creating tokenizers for all models
  multimodal/src/autogluon/multimodal/data/process_document.py
  multimodal/src/autogluon/multimodal/data/process_ner.py
  multimodal/src/autogluon/multimodal/data/process_text.py
  multimodal/src/autogluon/multimodal/models/clip.py
  multimodal/src/autogluon/multimodal/models/document_transformer.py
  multimodal/src/autogluon/multimodal/models/huggingface_text.py
  multimodal/src/autogluon/multimodal/models/ner_text.py
  multimodal/src/autogluon/multimodal/models/t_few.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/src/autogluon/multimodal/utils/export.py
  multimodal/src/autogluon/multimodal/utils/load.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others/test_ner.py
Labels: model list checked

#3463 [common] Fix deprecation warnings
  common/src/autogluon/common/utils/deprecated_utils.py
Labels: module: common

#3467 [Tabular] Fix infer_limit being incorrectly calculated when bagging
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: bug, module: tabular, priority: 0

#3480 Tabular: Fix train_test split edge-case
  core/src/autogluon/core/utils/utils.py
  core/tests/unittests/utils/test_utils.py
Labels: bug, module: tabular, priority: 1
