Repository autogluon/autogluon, pull requests merged in 2023-09, with the labels that each got.

#3507 [eda][bugfix] fixed IndexError: positional indexers are out-of-bounds
  eda/src/autogluon/eda/analysis/anomaly.py
  eda/src/autogluon/eda/auto/simple.py
Labels: bug, module: eda

#3469 [timeseries] Automatically remove short time series from training data
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#3526 [Lightning] Update lightning import
  core/src/autogluon/core/_setup_utils.py
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/configs/environment/default.yaml
  multimodal/src/autogluon/multimodal/data/datamodule.py
  multimodal/src/autogluon/multimodal/matcher.py
  multimodal/src/autogluon/multimodal/optimization/deepspeed.py
  multimodal/src/autogluon/multimodal/optimization/lit_distiller.py
  multimodal/src/autogluon/multimodal/optimization/lit_matcher.py
  multimodal/src/autogluon/multimodal/optimization/lit_mmdet.py
  multimodal/src/autogluon/multimodal/optimization/lit_module.py
  multimodal/src/autogluon/multimodal/optimization/lit_ner.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/cache.py
  multimodal/src/autogluon/multimodal/utils/checkpoint.py
  multimodal/src/autogluon/multimodal/utils/cloud_io.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/hpo.py
  multimodal/src/autogluon/multimodal/utils/log.py
  pyproject.toml
  timeseries/setup.py
Labels: model list checked

#3513 [timeseries] Remove statsmodels models
  docs/tutorials/timeseries/index.md
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/local/__init__.py
  timeseries/src/autogluon/timeseries/models/local/statsforecast.py
  timeseries/src/autogluon/timeseries/models/local/statsmodels.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/unittests/models/test_local.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries
