Repository autogluon/autogluon, pull requests merged in 2023-11, with the labels that each got.

#3647 [common] Fix FutureWarning in get_approximate_df_mem_usage
  common/src/autogluon/common/utils/pandas_utils.py
Labels: module: common

#3652 Address warnings from log_loss metric
  core/src/autogluon/core/metrics/__init__.py
  core/src/autogluon/core/models/greedy_ensemble/ensemble_selection.py
Labels: module: tabular

#3646 [timeseries] Support passing multiple evaluation metrics to TimeSeriesPredictor.evaluate
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/metrics/__init__.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries, breaking

#3616 Support Dynamic Stacking to Avoid Stacked Overfitting
  core/src/autogluon/core/learner/abstract_learner.py
  core/src/autogluon/core/stacked_overfitting/utils.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/conftest.py
  tabular/tests/unittests/dynamic_stacking/test_dynamic_stacking.py
Labels: enhancement, module: tabular, priority: 0

#3635 [timeseries] Improve handling of static_features by TimeSeriesDataFrame
  docs/tutorials/timeseries/forecasting-indepth.ipynb
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: module: timeseries

#3650 [AutoMM] Refactor AutoMM with learner class
  docs/tutorials/multimodal/object_detection/advanced/finetune_coco.ipynb
  examples/automm/object_detection/visualize_results.py
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/__init__.py
  multimodal/src/autogluon/multimodal/learners/__init__.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/learners/ner.py
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/models/__init__.py
  multimodal/src/autogluon/multimodal/optimization/__init__.py
  multimodal/src/autogluon/multimodal/optimization/lit_distiller.py
  multimodal/src/autogluon/multimodal/optimization/lit_mmdet.py
  multimodal/src/autogluon/multimodal/optimization/lit_module.py
  multimodal/src/autogluon/multimodal/optimization/lit_ner.py
  multimodal/src/autogluon/multimodal/optimization/losses.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/config.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/src/autogluon/multimodal/utils/distillation.py
  multimodal/src/autogluon/multimodal/utils/export.py
  multimodal/src/autogluon/multimodal/utils/few_shot_learning.py
  multimodal/src/autogluon/multimodal/utils/hpo.py
  multimodal/src/autogluon/multimodal/utils/inference.py
  multimodal/src/autogluon/multimodal/utils/matcher.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/src/autogluon/multimodal/utils/misc.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/src/autogluon/multimodal/utils/save.py
  multimodal/tests/unittests/others/test_deployment_onnx.py
  multimodal/tests/unittests/others/test_dump_model.py
  multimodal/tests/unittests/others/test_extract_features.py
  multimodal/tests/unittests/others/test_matcher.py
  multimodal/tests/unittests/others/test_ner.py
  multimodal/tests/unittests/others/test_object_detection.py
  multimodal/tests/unittests/others/test_presets.py
  multimodal/tests/unittests/others_2/test_backward_compatibility.py
  multimodal/tests/unittests/others_2/test_classify_doc.py
  multimodal/tests/unittests/others_2/test_data_augmentation.py
  multimodal/tests/unittests/others_2/test_data_processors.py
  multimodal/tests/unittests/others_2/test_doc_standalone.py
  multimodal/tests/unittests/others_2/test_fewshot_predictor.py
  multimodal/tests/unittests/others_2/test_hpo.py
  multimodal/tests/unittests/others_2/test_ner_chinese.py
  multimodal/tests/unittests/others_2/test_ner_standalone.py
  multimodal/tests/unittests/others_2/test_predictor_advanced.py
  multimodal/tests/unittests/others_2/test_predictor_regression_eval_metrics.py
  multimodal/tests/unittests/others_2/test_predictor_with_bart.py
  multimodal/tests/unittests/others_2/test_problem_types.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3511 Dynamic folds
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
  core/tests/unittests/test_parallel_local_folding.py
  tabular/tests/unittests/resource_allocation/test_bagging_resource_allocation.py
Labels: enhancement, module: tabular, priority: 1

#3645 [AutoMM] Parameter Efficient Fine-tuning SAM with LoRA for binary semantic segmentation tasks.
  multimodal/src/autogluon/multimodal/configs/model/fusion_mlp_image_text_tabular.yaml
  multimodal/src/autogluon/multimodal/configs/optimization/adamw.yaml
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/__init__.py
  multimodal/src/autogluon/multimodal/data/infer_types.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/data/process_semantic_seg_img.py
  multimodal/src/autogluon/multimodal/data/utils.py
  multimodal/src/autogluon/multimodal/learners/__init__.py
  multimodal/src/autogluon/multimodal/learners/semantic_segmentation.py
  multimodal/src/autogluon/multimodal/models/__init__.py
  multimodal/src/autogluon/multimodal/models/sam.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/optimization/lit_module.py
  multimodal/src/autogluon/multimodal/optimization/losses.py
  multimodal/src/autogluon/multimodal/optimization/semantic_seg_metrics.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/inference.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/hf_model_list.yaml
  multimodal/tests/unittests/others/test_semantic_segmentation.py
Labels: model list checked

#3667 [AutoMM] Unify default config names
  examples/automm/distillation/automm_distillation_pawsx.py
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/configs/optimization/default.yaml
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/utils/config.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others_2/test_config.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3665 [WIP][AutoMM] Fix multi GPU issues
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/cache.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/inference.py
  multimodal/src/autogluon/multimodal/utils/log.py
  multimodal/tests/unittests/others/test_matcher.py
Labels: model list checked

#3670 [AutoMM] Clean tutorials
  docs/tutorials/multimodal/document/document_classification.ipynb
  docs/tutorials/multimodal/multimodal-faq.md
  docs/tutorials/multimodal/multimodal_prediction/multimodal_text_tabular.ipynb
  multimodal/src/autogluon/multimodal/presets.py
Labels: model list checked

#3662 [AutoMM] Add the few shot learner
  docs/tutorials/multimodal/advanced_topics/few_shot_learning.ipynb
  docs/tutorials/multimodal/advanced_topics/index.md
  docs/tutorials/multimodal/index.md
  multimodal/src/autogluon/multimodal/__init__.py
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/data/process_image.py
  multimodal/src/autogluon/multimodal/learners/__init__.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/few_shot_svm.py
  multimodal/src/autogluon/multimodal/learners/ner.py
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/cache.py
  multimodal/src/autogluon/multimodal/utils/hpo.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/tests/unittests/others/test_matcher.py
  multimodal/tests/unittests/others/test_presets.py
  multimodal/tests/unittests/others_2/test_few_shot.py
  multimodal/tests/unittests/others_2/test_fewshot_predictor.py
  multimodal/tests/unittests/others_2/test_problem_types.py
Labels: model list checked

#3679 [AutoMM] Remove the config arg from fit API
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/ner.py
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3674 [AutoMM] Fix mixed precision training warning
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  multimodal/src/autogluon/multimodal/configs/environment/default.yaml
  multimodal/src/autogluon/multimodal/optimization/deepspeed.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/tests/unittests/others_2/test_predictor_advanced.py
Labels: model list checked

#3681 [AutoMM] Support multi-column input for few shot learning
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  multimodal/src/autogluon/multimodal/configs/data/default.yaml
  multimodal/src/autogluon/multimodal/learners/few_shot_svm.py
  multimodal/src/autogluon/multimodal/utils/misc.py
  multimodal/tests/unittests/others_2/test_few_shot.py
  multimodal/tests/unittests/others_2/test_zero_shot.py
Labels: model list checked

#3690 [AutoMM] Add input_keys property in ft_transformer for late fusion
  multimodal/src/autogluon/multimodal/models/ft_transformer.py
  multimodal/src/autogluon/multimodal/models/fusion/fusion_mlp.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3686 [AutoMM] Refactor object detection tests
  multimodal/src/autogluon/multimodal/utils/inference.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked

#3695 [AutoMM] Test few shot standalone
  multimodal/tests/unittests/others_2/test_few_shot.py
Labels: model list checked

#3693 [AutoMM] Fix CPU only training
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  multimodal/src/autogluon/multimodal/configs/environment/default.yaml
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/export.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3697 [WIP] Modify LoRA insertion logic.
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/tests/unittests/others/test_semantic_segmentation.py
Labels: model list checked

#3689 Update black to v23.
  .github/workflow_scripts/env_setup.sh
  .github/workflow_scripts/lint_check.sh
  common/pyproject.toml
  common/src/autogluon/common/utils/nvutil.py
  common/tests/unittests/test_deprecated_utils.py
  core/pyproject.toml
  core/src/autogluon/core/hpo/executors.py
  core/src/autogluon/core/hpo/ray_hpo.py
  core/src/autogluon/core/hpo/ray_tune_scheduler_factory.py
  core/src/autogluon/core/hpo/ray_tune_searcher_factory.py
  core/src/autogluon/core/hpo/space_converter.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/ray_parallel_fold_fitting_strategy.py
  core/src/autogluon/core/ray/resources_calculator.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/tests/unittests/hpo/test_ray_hpo.py
  docs/build.yml
  features/pyproject.toml
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/data/dataset_mmlab/multi_image_mix_dataset.py
  multimodal/src/autogluon/multimodal/data/process_text.py
  multimodal/src/autogluon/multimodal/data/templates.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/models/custom_transformer.py
  multimodal/src/autogluon/multimodal/models/ft_transformer.py
  multimodal/src/autogluon/multimodal/models/huggingface_text.py
  multimodal/src/autogluon/multimodal/models/mmdet_image.py
  multimodal/src/autogluon/multimodal/models/ner_text.py
  multimodal/src/autogluon/multimodal/optimization/lit_matcher.py
  multimodal/src/autogluon/multimodal/optimization/lit_mmdet.py
  multimodal/src/autogluon/multimodal/utils/checkpoint.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/tests/README.md
  tabular/pyproject.toml
  tabular/src/autogluon/tabular/models/imodels/imodels_models.py
  tabular/src/autogluon/tabular/models/tab_transformer/hyperparameters/parameters.py
  tabular/src/autogluon/tabular/models/tab_transformer/tab_transformer_encoder.py
  tabular/src/autogluon/tabular/models/tab_transformer/tab_transformer_model.py
  tabular/tests/regressiontests/test_tabular_regression.py
  tabular/tests/regressiontests/utils.py
  tabular/tests/unittests/resource_allocation/test_resource_allocation_combined.py
  timeseries/setup.py
Labels: model list checked

#3684 [AutoMM] Disable realtime inference by default to fix multi GPU issues
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/few_shot_svm.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/learners/ner.py
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/learners/semantic_segmentation.py
  multimodal/src/autogluon/multimodal/models/t_few.py
  multimodal/src/autogluon/multimodal/optimization/lit_module.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/cache.py
  multimodal/src/autogluon/multimodal/utils/few_shot_learning.py
  multimodal/tests/unittests/others/test_matcher.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked

#3555 Add get_simulation_artifact
  common/setup.py
  common/src/autogluon/common/loaders/load_json.py
  common/src/autogluon/common/savers/save_json.py
  common/src/autogluon/common/utils/simulation_utils.py
  core/src/autogluon/core/_setup_utils.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/test_tabular.py
Labels: enhancement, module: tabular, priority: 0

#3657 [timeseries] Split time limit evenly among forecasting models
  timeseries/src/autogluon/timeseries/configs/presets_configs.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/trainer/auto_trainer.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#3704 [timeseries] Automatically reduce num_val_windows if training data is too short
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/tests/unittests/test_metrics.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#3677 [WIP] Parameter Efficient Fine-tuning SAM with LoRA for multi-class semantic segmentation tasks.
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/configs/optimization/default.yaml
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/data/process_semantic_seg_img.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/semantic_segmentation.py
  multimodal/src/autogluon/multimodal/models/sam.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/optimization/__init__.py
  multimodal/src/autogluon/multimodal/optimization/lit_module.py
  multimodal/src/autogluon/multimodal/optimization/lit_semantic_segmentation.py
  multimodal/src/autogluon/multimodal/optimization/semantic_seg_metrics.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/src/autogluon/multimodal/utils/inference.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others/test_semantic_segmentation.py
Labels: model list checked

#3571 Update linear model
  tabular/src/autogluon/tabular/models/lr/hyperparameters/searchspaces.py
  tabular/src/autogluon/tabular/models/lr/lr_model.py
Labels: module: tabular, priority: 1

#3700 [AutoMM] Update ft_transformer hyperparameters and add ft_transformer tutorial
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  examples/automm/tabular_dl/README.md
  examples/automm/tabular_dl/example_tabular.py
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/models/ft_transformer.py
  multimodal/src/autogluon/multimodal/utils/model.py
Labels: model list checked

#3705 [timeseries] Enable Ray Tune for timeseries
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries

#3702 [AutoMM] Fix test_predictor coverage of categorical mlp
  multimodal/tests/unittests/utils/unittest_datasets.py
Labels: model list checked

#3701 Tabular: v1.0 API Deprecations
  common/src/autogluon/common/utils/__init__.py
  common/src/autogluon/common/utils/deprecated_utils.py
  common/src/autogluon/common/utils/resource_utils.py
  core/src/autogluon/core/__init__.py
  core/src/autogluon/core/hpo/executors.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/abstract/model_trial.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/scheduler/scheduler_factory.py
  core/src/autogluon/core/scheduler/seq_scheduler.py
  core/src/autogluon/core/space.py
  core/src/autogluon/core/task/__init__.py
  core/src/autogluon/core/task/base/__init__.py
  core/src/autogluon/core/task/base/base_task.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/src/autogluon/core/utils/infer_utils.py
  core/src/autogluon/core/utils/miscs.py
  core/src/autogluon/core/utils/utils.py
  core/src/autogluon/core/utils/version_utils.py
  core/tests/unittests/test_parallel_local_folding.py
  docs/install-modules.md
  docs/tutorials/cloud_fit_deploy/cloud-aws-lambda-deployment.ipynb
  docs/tutorials/tabular/advanced/tabular-custom-metric.ipynb
  docs/tutorials/tabular/advanced/tabular-custom-model.ipynb
  docs/tutorials/tabular/advanced/tabular-deployment.ipynb
  docs/tutorials/tabular/advanced/tabular-multilabel.ipynb
  docs/tutorials/tabular/tabular-essentials.ipynb
  docs/tutorials/tabular/tabular-indepth.ipynb
  docs/tutorials/tabular/tabular-quick-start.ipynb
  eda/src/autogluon/eda/analysis/model.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/models/knn/knn_model.py
  tabular/src/autogluon/tabular/models/rf/rf_model.py
  tabular/src/autogluon/tabular/predictor/interpretable_predictor.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
  tabular/tests/conftest.py
  tabular/tests/regressiontests/test_tabular_lite.py
  tabular/tests/regressiontests/test_tabular_regression.py
  tabular/tests/unittests/dynamic_stacking/test_dynamic_stacking.py
  tabular/tests/unittests/models/test_dummy.py
  tabular/tests/unittests/models/test_lightgbm.py
  tabular/tests/unittests/models/test_rf.py
  tabular/tests/unittests/models/test_tabular_nn.py
  tabular/tests/unittests/models/test_xt.py
  tabular/tests/unittests/resource_allocation/test_resources_mocking.py
  tabular/tests/unittests/resource_allocation/test_total_resource_allocation.py
  tabular/tests/unittests/test_tabular.py
  timeseries/src/autogluon/timeseries/models/ensemble/abstract_timeseries_ensemble.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: API & Doc, module: tabular, priority: 0

#3718 Add system info logging utility
  common/src/autogluon/common/utils/resource_utils.py
  common/src/autogluon/common/utils/system_info.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/utils/version_utils.py
  docs/tutorials/tabular/advanced/tabular-deployment.ipynb
  features/src/autogluon/features/generators/pipeline.py
  tabular/src/autogluon/tabular/learner/default_learner.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/test_tabular.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
Labels: API & Doc, module: common

#3710 [AutoMM] Align tutorial names
  .github/workflows/continuous_integration.yml
  docs/tutorials/multimodal/document_prediction/document_classification.ipynb
  docs/tutorials/multimodal/document_prediction/index.md
  docs/tutorials/multimodal/document_prediction/pdf_classification.ipynb
  docs/tutorials/multimodal/index.md
  docs/tutorials/multimodal/matching/index.md
  docs/tutorials/multimodal/multimodal_prediction/multimodal-quick-start.ipynb
  docs/tutorials/multimodal/semantic_matching/image2image_matching.ipynb
  docs/tutorials/multimodal/semantic_matching/image_text_matching.ipynb
  docs/tutorials/multimodal/semantic_matching/index.md
  docs/tutorials/multimodal/semantic_matching/text2text_matching.ipynb
  docs/tutorials/multimodal/semantic_matching/text_semantic_search.ipynb
  docs/tutorials/multimodal/semantic_matching/zero_shot_img_txt_matching.ipynb
Labels: model list checked

#3716 [AutoMM] Tutorial of finetuning SAM
  .github/workflows/continuous_integration.yml
  docs/tutorials/multimodal/document_prediction/index.md
  docs/tutorials/multimodal/image_segmentation/beginner_semantic_seg.ipynb
  docs/tutorials/multimodal/image_segmentation/index.md
  docs/tutorials/multimodal/index.md
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_ovd.ipynb
  multimodal/src/autogluon/multimodal/learners/semantic_segmentation.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/src/autogluon/multimodal/utils/misc.py
  multimodal/src/autogluon/multimodal/utils/semantic_segmentation_visualizer.py
  multimodal/src/autogluon/multimodal/utils/visualizer.py
  multimodal/tests/hf_model_list.yaml
Labels: model list checked

#3726 [AutoMM] Improve the introduction of AutoMM
  docs/tutorials/multimodal/image_prediction/index.md
  docs/tutorials/multimodal/image_segmentation/beginner_semantic_seg.ipynb
  docs/tutorials/multimodal/index.md
  docs/tutorials/multimodal/multimodal_prediction/index.md
  docs/tutorials/multimodal/object_detection/index.md
  docs/tutorials/multimodal/text_prediction/index.md
Labels: model list checked

#3728 [AutoMM] Fix SAM zero-shot
  docs/tutorials/multimodal/image_segmentation/beginner_semantic_seg.ipynb
  docs/tutorials/multimodal/index.md
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/utils/config.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/tests/unittests/others/test_semantic_segmentation.py
Labels: model list checked

#3729 fix broken links reported
  docs/tutorials/multimodal/advanced_topics/few_shot_learning.ipynb
  docs/tutorials/multimodal/advanced_topics/hyperparameter_optimization.ipynb
  docs/tutorials/multimodal/image_prediction/beginner_image_cls.ipynb
  docs/whats_new/v0.5.1.md
  timeseries/src/autogluon/timeseries/models/local/statsforecast.py
Labels: model list checked

#3733 Fix LightGBM callback crash with v4.0+
  tabular/src/autogluon/tabular/models/lgb/callbacks.py
Labels: bug, module: tabular

#3722 [WIP] Modify some designs of fine-tuning SAM for semantic segmentation.
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  docs/tutorials/multimodal/image_segmentation/beginner_semantic_seg.ipynb
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/learners/semantic_segmentation.py
  multimodal/src/autogluon/multimodal/optimization/semantic_seg_metrics.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/tests/unittests/others/test_semantic_segmentation.py
Labels: model list checked

#3735 [AutoMM] Align logging and align matcher logic with base learner
  common/src/autogluon/common/utils/system_info.py
  docs/tutorials/multimodal/index.md
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/environment.py
  multimodal/src/autogluon/multimodal/utils/hpo.py
  multimodal/src/autogluon/multimodal/utils/log.py
  multimodal/src/autogluon/multimodal/utils/save.py
Labels: model list checked

#3737 [Tutorial] Add object detection customize tutorial
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
Labels: model list checked

#3738 [AutoMM] Update image backbone presets and tutorials
  docs/tutorials/multimodal/advanced_topics/focal_loss.ipynb
  docs/tutorials/multimodal/advanced_topics/index.md
  docs/tutorials/multimodal/advanced_topics/presets.ipynb
  docs/tutorials/multimodal/advanced_topics/tensorrt.ipynb
  docs/tutorials/multimodal/image_prediction/beginner_image_cls.ipynb
  docs/tutorials/multimodal/index.md
  multimodal/src/autogluon/multimodal/presets.py
Labels: model list checked, run-multi-gpu

#3706 [timeseries] add intermittent demand models from Statsforecast
  docs/tutorials/timeseries/forecasting-model-zoo.md
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/local/__init__.py
  timeseries/src/autogluon/timeseries/models/local/statsforecast.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/models/test_local.py
Labels: module: timeseries

#3744 [AutoMM] Update time limit in the preset tutorial
  docs/tutorials/multimodal/advanced_topics/presets.ipynb
Labels: model list checked

#3745 [AutoMM] Fix Object Detection Tutorials
  docs/tutorials/multimodal/object_detection/advanced/finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_ovd.ipynb
Labels: model list checked

#3696 [AutoMM] Enforce valid metric names and add fallback metrics for each problem type
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/tests/unittests/others/test_metrics.py
  multimodal/tests/unittests/others_2/test_hpo.py
Labels: model list checked, run-multi-gpu

#3736 [AutoMM] Fix OVD
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_ovd.ipynb
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/predictor.py
Labels: model list checked

#3746 [timeseries] Fix GluonTS models using high context_length
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/tests/unittests/models/test_gluonts.py
Labels: module: timeseries

#3740 [timeseries] Use per-item residuals in MLForecast models
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/tests/unittests/models/test_mlforecast.py
  timeseries/tests/unittests/models/test_models.py
Labels: module: timeseries

#3762 [AutoMM] Add torch.compile hyperparameters in tutorial
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
Labels: model list checked

#3767 [AutoMM] Fix HPO tests
  multimodal/tests/unittests/others_2/test_hpo.py
Labels: model list checked, run-multi-gpu

#3775 Fix get_precision_context
  multimodal/src/autogluon/multimodal/utils/environment.py
Labels: bug, module: multimodal

#3780 [AutoMM] Fix multi-gpu test
  multimodal/tests/unittests/others_2/test_hpo.py
Labels: model list checked, run-multi-gpu

#3752 Add v1.0.0 release notes
  docs/whats_new/index.md
  docs/whats_new/v1.0.0.md
Labels: API & Doc
