Repository autogluon/autogluon, pull requests merged in 2024-10, with the labels that each got.

#4507 Add September Kaggle Competition Results
  AWESOME.md
Labels: API & Doc

#4512 Drop Python 3.8 Support
  .github/workflows/platform_tests-command.yml
  core/src/autogluon/core/_setup_utils.py
Labels: dependency, priority: 0

#4543 [features] Speed up DropDuplicatesFeatureGenerator
  features/src/autogluon/features/generators/drop_duplicates.py
Labels: enhancement, module: features

#4552 [tabular] Add support for controlling AutoGluon's repeated cross-validation behavior
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/edgecases/test_edgecases.py
Labels: enhancement, module: tabular

#4579 Version bump torchvision<0.21
  multimodal/setup.py
Labels: run-multi-gpu

#4583 Fix edgecase label crash
  core/src/autogluon/core/utils/utils.py
Labels: bug, module: tabular

#4584 [tabular] Fix FASTAI edgecase crash with NaN
  tabular/src/autogluon/tabular/models/fastainn/tabular_nn_fastai.py
Labels: bug, module: tabular

#4587 [install] Fix full_install.sh to be editable
  full_install.sh
Labels: bug, install, run-multi-gpu

#4463 fix platform tests
  .github/workflows/continuous_integration.yml
  .github/workflows/platform_tests-command.yml
  .gitignore
  core/tests/unittests/test_parallel_local_folding.py
  multimodal/setup.py
  tabular/setup.py
  tabular/tests/unittests/data/test_label_cleaner.py
  tabular/tests/unittests/models/test_vowpalwabbit.py
  tabular/tests/unittests/test_tabular.py
  timeseries/src/autogluon/timeseries/models/chronos/model.py
Labels: run-multi-gpu

#4592 Fix uv source install
  full_install.sh
Labels: bug, enhancement, install, priority: 0

#4536 Support python3.12
  .github/workflows/platform_tests-command.yml
  core/src/autogluon/core/_setup_utils.py
  docs/install.md
  multimodal/setup.py
  tabular/setup.py
  timeseries/setup.py
Labels: install, priority: 0, run-multi-gpu
