Repository autogluon/autogluon, pull requests merged in 2024-02, with the labels that each got.

#3867 [AutoMM] add a new column type 'image_base64_str'
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/infer_types.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/data/process_image.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/misc.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked, run-multi-gpu

#3427 Update setup.py - LightGBM version bump
  tabular/setup.py
Labels: enhancement, module: tabular, dependency, priority: 1

#3900 fix issue 3899, call self.save after update _time_fit_training, add t…
  full_install.bat
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/tests/unittests/test_predictor.py
Labels: bug, OS: Windows, module: timeseries

#3934 [timeseries] fix random seed, reset seed for every model
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/trainer/auto_trainer.py
  timeseries/tests/unittests/test_predictor.py
Labels: bug, module: timeseries

#3937 [timeseries] Add option to keep lightning_logs after training
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/tests/unittests/models/test_gluonts.py
Labels: module: timeseries

#3938 [timeseries] add RMSLE to metrics
  docs/tutorials/timeseries/forecasting-metrics.md
  timeseries/src/autogluon/timeseries/metrics/__init__.py
  timeseries/src/autogluon/timeseries/metrics/point.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/tests/unittests/test_metrics.py
Labels: enhancement, module: timeseries

#3931 Fix HPO crash in memory check
  core/src/autogluon/core/models/abstract/abstract_model.py
  tabular/src/autogluon/tabular/models/catboost/catboost_model.py
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
Labels: bug, module: tabular
