Repository autogluon/autogluon, pull requests merged in 2024-08, with the labels that each got.

#4354 [tabular] Add `ag.compile` parameter to models
  core/src/autogluon/core/models/abstract/abstract_model.py
  tabular/tests/unittests/models/test_tabular_nn.py
Labels: enhancement, module: tabular

#4379 [tabular] Fix exception when >20 configs present in medium quality preset
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
Labels: bug, module: tabular

#4384 [tabular] Fix exception in HPO when only specifying one of `num_cpus`/`num_gpus`
  core/src/autogluon/core/hpo/executors.py
  core/src/autogluon/core/hpo/ray_hpo.py
  core/src/autogluon/core/ray/resources_calculator.py
Labels: bug, module: tabular, feature: hpo, priority: 1

#4391 Addressed Unexpected Torch Seed Behavior with Dataloader
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_torch_dataset.py
Labels: bug, module: tabular, priority: 0

#4396 [Tabular,Core] Fix Temperature Scaling
  core/src/autogluon/core/calibrate/temperature_scaling.py
  core/src/autogluon/core/trainer/abstract_trainer.py
Labels: bug, module: tabular, priority: 0

#4389 [Tabular] Support for Raising an Error When No Models Were Trained Successfully During fit()
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: enhancement, module: tabular

#4398 [tabular] Add RF ONNX compilation unit test
  tabular/tests/unittests/models/test_rf.py
Labels: module: tabular

#4397 Skip temperature scaling if negative temperature, increase learning rate
  core/src/autogluon/core/calibrate/temperature_scaling.py
  core/src/autogluon/core/trainer/abstract_trainer.py
Labels: enhancement, module: tabular

#4399 [tabular] Fix log_to_file docstring
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: API & Doc, module: tabular

#4400 [tabular] raise_on_no_models_fitted=True
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/models/test_dummy.py
Labels: enhancement, module: tabular, priority: 0

#4407 [Tabular] Fix ROC AUC Average for Macro is Macro
  core/src/autogluon/core/metrics/__init__.py
Labels: bug, module: tabular, priority: 0

#4402 [tabular] Add `mcc` metric to eval_metric docstring
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: API & Doc, module: tabular

#4401 [common] Add utility methods to FeatureMetadata
  common/src/autogluon/common/features/feature_metadata.py
Labels: enhancement, module: common

#4425 Fix Source Install
  .github/workflow_scripts/lint_check.sh
  core/pyproject.toml
  tabular/pyproject.toml
Labels: bug, env: kaggle, install, env: colab, priority: 0

#4405 [tabular] Fix feature pruning crash on Windows
  core/src/autogluon/core/utils/feature_selection.py
  docs/tutorials/tabular/tabular-quick-start.ipynb
Labels: bug, OS: Windows, module: tabular

#4411 Added Learning Curve Generation Feature
  core/src/autogluon/core/learning_curves/plot_curves.py
  core/src/autogluon/core/metrics/classification_metrics.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/src/autogluon/core/utils/loaders/__init__.py
  core/src/autogluon/core/utils/utils.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/learner/default_learner.py
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/src/autogluon/tabular/models/lgb/lgb_utils.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
  tabular/src/autogluon/tabular/models/xgboost/callbacks.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_utils.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
  tabular/tests/conftest.py
  tabular/tests/unittests/data/test_learning_curves.py
  tabular/tests/unittests/dynamic_stacking/test_dynamic_stacking.py
  tabular/tests/unittests/models/advanced/test_stack_feature_usage.py
  tabular/tests/unittests/models/test_lightgbm.py
Labels: enhancement, module: tabular, priority: 0

#4327 [tabular] Add initial callbacks support
  core/src/autogluon/core/callbacks/__init__.py
  core/src/autogluon/core/callbacks/_abstract_callback.py
  core/src/autogluon/core/callbacks/_early_stopping_callback.py
  core/src/autogluon/core/callbacks/_early_stopping_ensemble_callback.py
  core/src/autogluon/core/callbacks/_example_callback.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
  tabular/tests/unittests/callbacks/__init__.py
  tabular/tests/unittests/callbacks/test_callbacks.py
Labels: API & Doc, enhancement, module: tabular

#4420 Upgrade scikit-learn to 1.5.1
  core/src/autogluon/core/_setup_utils.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
Labels: model list checked, run-multi-gpu

#4430 [Tutorial] Add Installation Guide for Object Detection in Tutorial
  docs/tutorials/multimodal/object_detection/advanced/finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
Labels: model list checked

#4444 [tabular] Add `valid_stacker` and `use_orig_features` options
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/stacker_ensemble_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/src/autogluon/core/utils/exceptions.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: API & Doc, enhancement, module: tabular
