Repository autogluon/autogluon, pull requests merged in 2024-11, with the labels that each got.

#4596 update accelerate version range
  core/src/autogluon/core/_setup_utils.py
  multimodal/src/autogluon/multimodal/models/ft_transformer.py
Labels: run-multi-gpu

#4604 Bound nltk version to avoid verbose logging issue
  full_install.sh
  multimodal/setup.py
Labels: module: multimodal, run-multi-gpu

#4580 Upgrade TIMM
  multimodal/setup.py
Labels: run-multi-gpu

#4612 Key dependency updates in _setup_utils.py for v1.2 release
  .github/workflow_scripts/setup_mmcv.sh
  core/src/autogluon/core/_setup_utils.py
Labels: module: timeseries, module: multimodal, run-multi-gpu

#4621 [Doc] Fixed broken links in the tutorial
  docs/tutorials/multimodal/advanced_topics/continuous_training.ipynb
  docs/tutorials/multimodal/text_prediction/chinese_ner.ipynb
  docs/whats_new/v0.8.0.md
  timeseries/src/autogluon/timeseries/models/chronos/model.py
Labels: model list checked

#3809 [AutoMM] Add coco_root for better support for custom dataset in COCO format.
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked, run-multi-gpu

#3811 [AutoMM] Add COCO Format Saving Support and Update Object Detection I/O Handling
  multimodal/src/autogluon/multimodal/configs/pretrain/detection/dino/dino-4scale_r50_8xb2-12e_coco.py
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/hpo.py
  multimodal/src/autogluon/multimodal/utils/object_detection.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked, run-multi-gpu

#4615 Configurable Number of Checkpoints to Keep per HPO Trial
  docs/tutorials/multimodal/advanced_topics/hyperparameter_optimization.ipynb
  multimodal/src/autogluon/multimodal/utils/hpo.py
Labels: model list checked, run-multi-gpu

#4259 [timeseries] Ensure that TimeSeriesDataFrame index is sorted before train_test_split
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
Labels: module: timeseries, breaking

#4566 [timeseries] Add CovariatesRegressor for forecasting models
  docs/tutorials/timeseries/forecasting-model-zoo.md
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/regressor.py
  timeseries/src/autogluon/timeseries/transforms/scaler.py
  timeseries/tests/conftest.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_regressor.py
Labels: enhancement, module: timeseries

#4631 Add `compute_metric`
  core/src/autogluon/core/metrics/__init__.py
  core/src/autogluon/core/metrics/score_func.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/greedy_ensemble/ensemble_selection.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/src/autogluon/core/utils/utils.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
Labels: enhancement, priority: 0, module: common

#4635 Fix Torch accidentally being imported immediately
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
Labels: bug, module: tabular, priority: 0

#4632 [tabular] Set calibrate_decision_threshold="auto"
  core/src/autogluon/core/trainer/abstract_trainer.py
  docs/tutorials/tabular/tabular-indepth.ipynb
  tabular/src/autogluon/tabular/models/tabular_nn/utils/data_preprocessor.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: enhancement, module: tabular, code cleanup, priority: 0

#4616 Refactor Metrics for Each Problem Type
  docs/tutorials/multimodal/advanced_topics/index.md
  docs/tutorials/multimodal/advanced_topics/problem_types_and_metrics.ipynb
  docs/tutorials/multimodal/index.md
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/problem_types.py
Labels: model list checked, run-multi-gpu

#4447 [Tutorial] Fix Torch Version and Colab Installation for Object Detection
  docs/tutorials/multimodal/object_detection/advanced/finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
Labels: model list checked

#4629 [AutoMM] Fix Logloss Bug and Refine Compute Score Logics
  multimodal/src/autogluon/multimodal/utils/metric.py
Labels: run-multi-gpu

#4642 [AutoMM] Fix Index Typo in Tutorial
  docs/tutorials/multimodal/advanced_topics/index.md
Labels: model list checked

#4608 [timeseries] Add fine-tuning support for Chronos models
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/base.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/chronos.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/chronos_bolt.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/utils.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/models/chronos/__init__.py
  timeseries/tests/unittests/models/chronos/pipeline/test_utils.py
  timeseries/tests/unittests/models/chronos/test_model.py
  timeseries/tests/unittests/models/test_models.py
Labels: enhancement, module: timeseries

#4640 [timeseries] refactor GluonTS default parameter handling, update TiDE parameters
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/tests/conftest.py
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_multi_window_model.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_metrics.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: enhancement, module: timeseries

#4645 [timeseries] Fix `fused=True` failure in Chronos fine-tuning on CPU
  timeseries/src/autogluon/timeseries/models/chronos/model.py
Labels: bug, module: timeseries

#4643 [AutoMM] Fix Proba Metrics for Multiclass
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/tests/unittests/others/test_classification.py
Labels: model list checked, run-multi-gpu

#4647 [timeseries] Fix `torch.Tensor.mean` use with incorrect kwargs
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/chronos.py
Labels: bug, module: timeseries

#4650 [timeseries] prune timeseries unit and smoke tests
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/models/chronos/test_model.py
  timeseries/tests/unittests/models/test_local.py
  timeseries/tests/unittests/models/test_mlforecast.py
Labels: code cleanup, module: timeseries

#4659 [timeseries] Improve Chronos fine-tuning test coverage
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/tests/unittests/models/chronos/pipeline/test_utils.py
  timeseries/tests/unittests/models/chronos/test_model.py
Labels: module: timeseries

#4655 [timeseries] Change fine-tuning defaults of Chronos
  timeseries/src/autogluon/timeseries/models/chronos/model.py
Labels: module: timeseries

#4667 add val operation when skip hpo
  core/src/autogluon/core/models/abstract/model_trial.py
Labels: bug, module: tabular

#4538 Upgrade to numpy 2.0
  common/setup.py
  core/src/autogluon/core/_setup_utils.py
  core/tests/unittests/utils/test_utils.py
  eda/setup.py
  examples/automm/kaggle_pawpularity/README.md
  features/tests/features/generators/test_auto_ml_pipeline.py
  features/tests/features/generators/test_bulk.py
  features/tests/features/generators/test_pipeline.py
  features/tests/features/generators/test_text_special.py
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/data/process_document.py
  multimodal/src/autogluon/multimodal/data/process_ner.py
  multimodal/src/autogluon/multimodal/data/process_text.py
  tabular/setup.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
  tabular/tests/unittests/test_tabular.py
  timeseries/setup.py
Labels: run-multi-gpu

#4658 [timeseries] update presets
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/presets.py
Labels: module: timeseries

#4675 [tabular] Fix lightgbm import warning
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
Labels: module: tabular

#4676 [core] Bump accelerate version to >=0.34,<1.0
  core/src/autogluon/core/_setup_utils.py
Labels: module: timeseries, module: multimodal, dependency, run-multi-gpu

#4671 Add TabPFNMix model
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/ray/distributed_jobs_managers.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/setup.py
  tabular/src/autogluon/tabular/configs/hyperparameter_configs.py
  tabular/src/autogluon/tabular/configs/presets_configs.py
  tabular/src/autogluon/tabular/models/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/LICENSE
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/README.md
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/config/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/config/config_run.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/callbacks.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/collator.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/dataset_split.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/enums.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/get_loss.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/get_optimizer.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/get_scheduler.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/trainer_finetune.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/core/y_transformer.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/data/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/data/dataset_finetune.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/data/preprocessor.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/models/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/models/foundation/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/models/foundation/embedding.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/models/foundation/foundation_transformer.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/results/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/results/prediction_metrics.py
  tabular/src/autogluon/tabular/models/tabpfnmix/_internal/tabpfnmix_classifier.py
  tabular/src/autogluon/tabular/models/tabpfnmix/tabpfnmix_model.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/tests/unittests/configs/test_config_helper.py
  tabular/tests/unittests/configs/test_presets.py
Labels: enhancement, module: tabular, priority: 0, needs: benchmark

#4685 [timeseries] Update try_import.py by update CatBoost requirement
  common/src/autogluon/common/utils/try_import.py
  tabular/setup.py
Labels: bug, OS: Mac, priority: 0

#4682 fix: Convert unique values to strings in `check_if_nlp_feature`
  common/src/autogluon/common/features/infer_types.py
Labels: bug, module: tabular

#4690 [tabular] Remove outdated macOS Python 3.11 CatBoost restriction for test_tabular.py
  tabular/tests/unittests/test_tabular.py
Labels: module: tabular, code cleanup

#4663 fix: enable autogluon build on aarch64 platforms
  multimodal/setup.py
  tabular/setup.py
Labels: install, run-multi-gpu

#4688 bump lightgbm and skex versions
  tabular/setup.py
Labels: module: tabular, install

#4687 remove private catboost call
  tabular/src/autogluon/tabular/models/catboost/callbacks.py
Labels: module: tabular, code cleanup

#4689 bump ray to <2.40
  common/src/autogluon/common/utils/try_import.py
  core/setup.py
Labels: install

#4700 Disable callbacks for parallel fit_strategy
  core/src/autogluon/core/trainer/abstract_trainer.py
Labels: module: tabular
