Repository autogluon/autogluon, pull requests merged in 2024-01, with the labels that each got.

#3840 [AutoMM] Fix the bug when introducing PEFT methods that do not require adding additional parameters.
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others/test_semantic_segmentation.py
Labels: model list checked, run-multi-gpu

#3868 [FIX] Imporve Error Handling and Init for Ray for Memory Save Sub-fits in Dynamic Stacking
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: enhancement, module: tabular

#3873 Ignore pandas downcast warning
  tabular/src/autogluon/tabular/models/fastainn/tabular_nn_fastai.py
Labels: module: tabular

#3877 [timeseries] enable logging to file, clean up set_logger_verbosity calls
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#3859 [AutoMM] Add support for loading pre-trained weights in ft_transformer
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/models/ft_transformer.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/predictor/test_predictor.py
Labels: model list checked, run-multi-gpu

#3895 [tabular] Fix LightGBM model failing for quantile regression if len(quantile_levels) < 3
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
Labels: module: tabular

#3861 Refactor README for 1.0
  AWESOME.md
  CITING.md
  README.md
  docs/install.md
Labels: API & Doc
