Repository autogluon/autogluon, pull requests merged in 2024-03, with the labels that each got.

#3889 [timeseries] Add method for plotting forecasts
  docs/tutorials/timeseries/forecasting-quick-start.ipynb
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#3874 [timeseries] Add support for categorical covariates
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/test_features.py
  timeseries/tests/unittests/test_learner.py
Labels: module: timeseries

#3970 [AutoMM] Improve DINO performance
  examples/automm/object_detection/benchmarking.py
  multimodal/src/autogluon/multimodal/models/mmdet_image.py
  multimodal/src/autogluon/multimodal/optimization/lit_mmdet.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/presets.py
Labels: run-multi-gpu

#3974 [AutoMM]Remove grounding-dino
  .github/workflow_scripts/build_doc.sh
  .github/workflow_scripts/env_setup.sh
  .github/workflow_scripts/setup_groundingdino.sh
  .github/workflow_scripts/test_tabular.sh
  docs/tutorials/multimodal/object_detection/index.md
  docs/tutorials/multimodal/object_detection/quick_start/index.md
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_ovd.ipynb
  examples/automm/ovd/ovd_demo.py
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/__init__.py
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/grounding_dino/GroundingDINO_SwinB.cfg.py
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/grounding_dino/GroundingDINO_SwinT_OGC.py
  multimodal/src/autogluon/multimodal/configs/pretrain/ovd/grounding_dino/__init__.py
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/data/__init__.py
  multimodal/src/autogluon/multimodal/data/infer_types.py
  multimodal/src/autogluon/multimodal/data/preprocess_dataframe.py
  multimodal/src/autogluon/multimodal/data/process_ovd.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/object_detection.py
  multimodal/src/autogluon/multimodal/models/__init__.py
  multimodal/src/autogluon/multimodal/models/ovd.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/__init__.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/src/autogluon/multimodal/utils/inference.py
  multimodal/src/autogluon/multimodal/utils/metric.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/src/autogluon/multimodal/utils/ovd.py
  multimodal/tests/unittests/others/test_metrics.py
  multimodal/tests/unittests/others/test_utils.py
Labels: model list checked, run-multi-gpu

#3979 [timeseries] Fix path and device bugs
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/tests/unittests/test_predictor.py
Labels: bug, module: timeseries

#3966 [timeseries] Ensure that all metrics handle missing values in the target
  timeseries/src/autogluon/timeseries/metrics/abstract.py
  timeseries/src/autogluon/timeseries/metrics/point.py
  timeseries/src/autogluon/timeseries/metrics/quantile.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_metrics.py
Labels: module: timeseries

#3933 [WIP] Code implementation of Conv-LoRA
  multimodal/src/autogluon/multimodal/configs/optimization/default.yaml
  multimodal/src/autogluon/multimodal/constants.py
  multimodal/src/autogluon/multimodal/models/adaptation_layers.py
  multimodal/src/autogluon/multimodal/models/custom_hf_models/modeling_sam_for_conv_lora.py
  multimodal/src/autogluon/multimodal/models/sam.py
  multimodal/src/autogluon/multimodal/models/utils.py
  multimodal/src/autogluon/multimodal/optimization/lit_semantic_seg.py
  multimodal/src/autogluon/multimodal/optimization/utils.py
  multimodal/src/autogluon/multimodal/utils/model.py
  multimodal/tests/unittests/others/test_semantic_segmentation.py
Labels: model list checked, run-multi-gpu

#3982 [v.1.1][Upgrade] PyTorch 2.1 and CUDA 12.1 upgrade
  .github/workflow_scripts/env_setup.sh
  CI/batch/docker/Dockerfile.cpu
  CI/batch/docker/Dockerfile.gpu
  CI/docker/Dockerfile.cpu-inference
  CI/docker/Dockerfile.cpu-training
  CI/docker/Dockerfile.gpu-inference
  CI/docker/Dockerfile.gpu-training
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
  multimodal/tests/unittests/others/test_metrics.py
Labels: model list checked, run-multi-gpu

#3991 [AutoMM] Fix one lightning upgrade issue
  common/src/autogluon/common/utils/try_import.py
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/optimization/lit_matcher.py
Labels: run-multi-gpu

#3984 [core] move transformers to setup_utils, bump dependency version
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/data/process_image.py
  timeseries/setup.py
Labels: module: timeseries, module: multimodal, priority: 0, run-multi-gpu

#3978 [timeseries] Add Chronos pretrained forecasting model
  docs/tutorials/timeseries/forecasting-model-zoo.md
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/configs/presets_configs.py
  timeseries/src/autogluon/timeseries/models/__init__.py
  timeseries/src/autogluon/timeseries/models/chronos/__init__.py
  timeseries/src/autogluon/timeseries/models/chronos/chronos.py
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/models/test_chronos.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#4006 [Doc] Update torch installation
  docs/install-cpu-pip.md
  docs/install-cpu-source.md
  docs/install-gpu-pip.md
  docs/install-gpu-source.md
  docs/tutorials/multimodal/index.md
Labels: model list checked

#4009 [timeseries] fix predictor tests temporary path issue
  timeseries/tests/conftest.py
  timeseries/tests/unittests/test_predictor.py
Labels: bug, module: timeseries

#4005 [timeseries] add persist logic to TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/models/test_chronos.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#3930 Tabular: Refactor and fix `fit_pseudolabel` logic
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
  core/src/autogluon/core/pseudolabeling/pseudolabeling.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/test_tabular.py
Labels: bug, enhancement, module: tabular

#4013 [timeseries] refactor Chronos model, force unit tests to use local cache
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline.py
  timeseries/tests/conftest.py
  timeseries/tests/unittests/models/test_chronos.py
Labels: module: timeseries

#3995 [timeseries] Add native support for missing values
  docs/tutorials/timeseries/forecasting-indepth.ipynb
  pyproject.toml
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/models/local/naive.py
  timeseries/src/autogluon/timeseries/models/local/npts.py
  timeseries/src/autogluon/timeseries/models/local/statsforecast.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/test_local.py
  timeseries/tests/unittests/models/test_mlforecast.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_features.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_metrics.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_splitter.py
Labels: module: timeseries
