Repository autogluon/autogluon, pull requests merged in 2024-12, with the labels that each got.

#4712 [timeseries] address static type checker issues in Chronos and utils
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/metrics/point.py
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/base.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/chronos.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/utils.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/trainer/auto_trainer.py
  timeseries/src/autogluon/timeseries/utils/datetime/lags.py
  timeseries/src/autogluon/timeseries/utils/datetime/seasonality.py
  timeseries/src/autogluon/timeseries/utils/datetime/time_features.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/src/autogluon/timeseries/utils/forecast.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/chronos/test_model.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/utils/__init__.py
  timeseries/tests/unittests/utils/test_features.py
  timeseries/tests/unittests/utils/test_utils.py
Labels: code cleanup, module: timeseries

#4711 fix: plot_tabular_models save under dir
  core/src/autogluon/core/utils/plots.py
Labels: bug, module: tabular

#4722 [timeseries] fix timeseries test_metrics.py failure
  timeseries/tests/unittests/test_metrics.py
Labels: module: timeseries

#4728 [timeseries] Update predictor docstring
  timeseries/src/autogluon/timeseries/predictor.py
Labels: module: timeseries
