Repository autogluon/autogluon, pull requests merged in 2024-09, with the labels that each got.

#4450 [tabular] Fix incorrect return type in `predict_multi` for regression
  tabular/src/autogluon/tabular/learner/abstract_learner.py
Labels: bug, module: tabular

#4458 Add kaggle results up to Sept 1st 2024
  AWESOME.md
Labels: API & Doc

#4449 [AutoMM] Fix Missing Validation Metric While Resuming A Model Failed At Checkpoint Fusing Stage
  multimodal/src/autogluon/multimodal/learners/base.py
Labels: run-multi-gpu

#4446 [tabular] Set num_bag_sets to 1 by default
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: enhancement, module: tabular

#4473 Fix Early Stopping Callback exception
  core/src/autogluon/core/callbacks/_early_stopping_callback.py
Labels: bug

#4436 [tabular] Add AdaptiveES support to NN_TORCH
  core/src/autogluon/core/models/_utils.py
  core/src/autogluon/core/utils/early_stopping.py
  pyproject.toml
  tabular/src/autogluon/tabular/models/tabular_nn/hyperparameters/parameters.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
Labels: enhancement, module: tabular, priority: 0

#4474 [tabular] Fix refit crash
  core/src/autogluon/core/trainer/abstract_trainer.py
Labels: bug, module: tabular

#4478 [core] Enhance generate_train_test_split
  core/src/autogluon/core/utils/utils.py
  core/tests/unittests/utils/test_utils.py
Labels: enhancement, module: common

#4485 Fix py38 import
  core/src/autogluon/core/utils/utils.py
Labels: bug

#4498 [tabular] Minor logging improvement on verbosity=4
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
Labels: API & Doc, module: tabular, code cleanup

#4495 [tabular] Make refit_full respect user `num_cpus` and `num_gpus`
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/models/test_advanced.py
Labels: bug, enhancement, module: tabular, priority: 0

#4445 [tabular] Doc cleanup, add positive_class init arg
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/utils/utils.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: API & Doc, enhancement, module: tabular

#4502 Add Bandit Warning Mitigation for Internal `torch.save` and `torch.load` Usage
  .github/workflow_scripts/lint_check.sh
  examples/automm/memory_bank/memory_bank.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/learners/matching.py
  multimodal/src/autogluon/multimodal/models/ft_transformer.py
  multimodal/src/autogluon/multimodal/models/mmdet_image.py
  multimodal/src/autogluon/multimodal/models/timm_image.py
  multimodal/src/autogluon/multimodal/utils/cache.py
  multimodal/src/autogluon/multimodal/utils/checkpoint.py
  multimodal/src/autogluon/multimodal/utils/cloud_io.py
  tabular/src/autogluon/tabular/models/fastainn/fastai_helpers.py
  tabular/src/autogluon/tabular/models/tab_transformer/tab_transformer_model.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_torch_dataset.py
Labels: module: multimodal, run-multi-gpu
