Repository autogluon/autogluon, pull requests merged in 2024-07, with the labels that each got.

#4317 [Tabular] Avoid Edge Case Divison By Zero Error
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/learner/default_learner.py
Labels: bug, module: tabular, priority: 0

#4335 [tabular] Use ResourceManager for text_ngram.py
  features/src/autogluon/features/generators/text_ngram.py
Labels: enhancement, module: tabular

#4333 [Proposal] Add Support for Custom Memory (Soft) Limit
  common/src/autogluon/common/utils/resource_utils.py
  common/tests/unittests/test_memory_limit.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/resource_allocation/test_custom_memory_limit.py
Labels: enhancement, module: tabular, priority: 0

#4341 [common/features] line_length=119
  common/pyproject.toml
  common/src/autogluon/common/features/feature_metadata.py
  common/src/autogluon/common/features/infer_types.py
  common/src/autogluon/common/loaders/_utils.py
  common/src/autogluon/common/loaders/load_pd.py
  common/src/autogluon/common/model_filter/_model_filter.py
  common/src/autogluon/common/savers/save_pd.py
  common/src/autogluon/common/savers/save_pkl.py
  common/src/autogluon/common/utils/deprecated_utils.py
  common/src/autogluon/common/utils/nvutil.py
  common/src/autogluon/common/utils/pandas_utils.py
  common/src/autogluon/common/utils/path_converter.py
  common/src/autogluon/common/utils/s3_utils.py
  common/src/autogluon/common/utils/simulation_utils.py
  common/src/autogluon/common/utils/system_info.py
  common/src/autogluon/common/utils/try_import.py
  common/src/autogluon/common/utils/utils.py
  common/tests/unittests/test_compression_utils.py
  common/tests/unittests/test_deprecated_utils.py
  common/tests/unittests/test_model_filter.py
  common/tests/unittests/test_s3_utils.py
  features/pyproject.toml
  features/src/autogluon/features/generators/abstract.py
  features/src/autogluon/features/generators/astype.py
  features/src/autogluon/features/generators/auto_ml_pipeline.py
  features/src/autogluon/features/generators/binned.py
  features/src/autogluon/features/generators/bulk.py
  features/src/autogluon/features/generators/category.py
  features/src/autogluon/features/generators/datetime.py
  features/src/autogluon/features/generators/drop_duplicates.py
  features/src/autogluon/features/generators/drop_unique.py
  features/src/autogluon/features/generators/pipeline.py
  features/src/autogluon/features/generators/text_ngram.py
  features/src/autogluon/features/generators/text_special.py
  features/src/autogluon/features/utils.py
  features/tests/features/generators/test_auto_ml_pipeline.py
  features/tests/features/generators/test_bulk.py
  features/tests/features/generators/test_drop_duplicates.py
  features/tests/features/generators/test_fillna.py
  features/tests/features/generators/test_one_hot_encoder.py
  features/tests/features/generators/test_pipeline.py
  features/tests/features/test_feature_metadata.py
Labels: code cleanup, module: features, module: common

#4340 Add __init__.py to all unit tests
  common/tests/__init__.py
  common/tests/unittests/__init__.py
  common/tests/unittests/utils/__init__.py
  core/tests/__init__.py
  core/tests/unittests/__init__.py
  core/tests/unittests/calibrate/__init__.py
  core/tests/unittests/core/__init__.py
  core/tests/unittests/core/scheduler/__init__.py
  core/tests/unittests/hpo/__init__.py
  core/tests/unittests/metrics/__init__.py
  core/tests/unittests/models/__init__.py
  core/tests/unittests/models/abstract_model/__init__.py
  core/tests/unittests/ray/__init__.py
  core/tests/unittests/scheduler/__init__.py
  core/tests/unittests/searcher/__init__.py
  core/tests/unittests/utils/__init__.py
  core/tests/unittests/utils/decorators/__init__.py
  eda/tests/__init__.py
  features/tests/__init__.py
  features/tests/features/__init__.py
  features/tests/features/generators/__init__.py
  multimodal/tests/__init__.py
  tabular/tests/__init__.py
  tabular/tests/unittests/__init__.py
  tabular/tests/unittests/calibrate/__init__.py
  tabular/tests/unittests/configs/__init__.py
  tabular/tests/unittests/data/__init__.py
  tabular/tests/unittests/dynamic_stacking/__init__.py
  tabular/tests/unittests/edgecases/__init__.py
  tabular/tests/unittests/experimental/__init__.py
  tabular/tests/unittests/models/__init__.py
  tabular/tests/unittests/models/advanced/__init__.py
  tabular/tests/unittests/pseudolabel/__init__.py
  tabular/tests/unittests/resource_allocation/__init__.py
  timeseries/tests/__init__.py
  timeseries/tests/smoketests/__init__.py
Labels: enhancement, code cleanup, model list checked, run-multi-gpu

#4353 [tabular] Remove sklearnex RF logic that raises exception
  tabular/src/autogluon/tabular/models/rf/rf_model.py
Labels: bug, module: tabular

#4352 [tabular] Fix file path for RF ONNX
  tabular/src/autogluon/tabular/models/rf/compilers/onnx.py
Labels: bug, module: tabular
