Repository autogluon/autogluon, pull requests merged in 2024-06, with the labels that each got.

#4249 [codespell] unsecure -> insecure
  docs/tutorials/multimodal/image_prediction/beginner_image_cls.ipynb
  docs/tutorials/multimodal/image_segmentation/beginner_semantic_seg.ipynb
  docs/tutorials/multimodal/multimodal_prediction/beginner_multimodal.ipynb
  docs/tutorials/multimodal/text_prediction/beginner_text.ipynb
  docs/tutorials/tabular/tabular-essentials.ipynb
  multimodal/src/autogluon/multimodal/predictor.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  timeseries/src/autogluon/timeseries/predictor.py
Labels: API & Doc

#4247 [tabular] Improve NN_TORCH runtime estimate
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
Labels: bug, module: tabular

#4251 [features] Add AsType detailed exception logging
  features/src/autogluon/features/generators/astype.py
Labels: API & Doc, module: tabular

#4252 [features] Make AsType exception logging handle all exception types
  features/src/autogluon/features/generators/astype.py
Labels: API & Doc, module: features

#4250 [tabular] Fix LightGBM multiclass custom metrics
  tabular/src/autogluon/tabular/models/lgb/lgb_utils.py
Labels: bug, module: tabular

#4239 Pytorch 2.3 upgrade
  common/src/autogluon/common/utils/try_import.py
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
Labels: run-multi-gpu

#4217 [AutoMM] Add the pytorch version requirement for object detection in error message
  multimodal/src/autogluon/multimodal/utils/environment.py
Labels: run-multi-gpu

#4269 [tabular] Fix indexing error in compute_conformity_score
  core/src/autogluon/core/calibrate/conformity_score.py
Labels: bug, module: tabular

#4272 [tabular] Fix LightGBM quantile predict_proba dtype
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/tests/conftest.py
  tabular/tests/unittests/models/test_lightgbm.py
Labels: bug, module: tabular

#4224 [tabular] Fix RuntimeWarning in LinearModel
  features/src/autogluon/features/generators/one_hot_encoder.py
Labels: module: tabular, code cleanup

#4283 add link for conda release
  release_instructions/ReleaseInstructions.md
Labels: API & Doc

#4284 [tabular] Add tutorial with a deep dive on how AutoGluon works
  docs/tutorials/tabular/how-it-works.md
  docs/tutorials/tabular/index.md
Labels: API & Doc

#4277 [tabular] Validate CPU/GPU settings
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/conftest.py
  tabular/tests/unittests/edgecases/test_edgecases.py
Labels: API & Doc, enhancement, module: tabular

#4258 [tabular] Improve hyperparameters logging
  common/src/autogluon/common/utils/hyperparameter_utils.py
  docs/api/autogluon.tabular.models.rst
  tabular/src/autogluon/tabular/configs/hyperparameter_configs.py
  tabular/src/autogluon/tabular/configs/zeroshot/zeroshot_portfolio_2023.py
  tabular/src/autogluon/tabular/models/lgb/hyperparameters/parameters.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets_custom.py
  tabular/tests/unittests/test_tabular.py
Labels: API & Doc, module: tabular

#4285 [tabular] Add readable error message for invalid models in persist
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/test_tabular.py
Labels: API & Doc, module: tabular

#4248 [tabular] Add roc_auc_ovo / ovr
  core/src/autogluon/core/data/label_cleaner.py
  core/src/autogluon/core/metrics/__init__.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/tests/unittests/metrics/test_metrics.py
  docs/tutorials/tabular/advanced/tabular-custom-metric.ipynb
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/learner/default_learner.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/data/test_label_cleaner.py
Labels: enhancement, module: tabular

#4287 [tabular] Improve logging for invalid label
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: API & Doc, module: tabular

#4194 [timeseries] bump statsforecast version
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/models/local/statsforecast.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/unittests/models/test_local.py
Labels: module: timeseries, dependency

#4290 [tabular] Fix Stacker max_models logic
  common/src/autogluon/common/features/feature_metadata.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/stacker_ensemble_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  features/tests/features/test_feature_metadata.py
  tabular/tests/unittests/models/advanced/test_stack_feature_usage.py
Labels: bug, module: tabular, priority: 0
