Repository autogluon/autogluon, pull requests merged in 2024-04, with the labels that each got.

#4022 [AutoMM] Fix conv-lora example
  examples/automm/Conv-LoRA/README.md
  examples/automm/Conv-LoRA/run_semantic_segmentation.py
Labels: model list checked

#4025 [AutoMM] Update default in the conv-lora example
  examples/automm/Conv-LoRA/README.md
  examples/automm/Conv-LoRA/run_semantic_segmentation.py
Labels: model list checked

#4033 [timeseries] add feature importance to TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/tests/unittests/test_features.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: enhancement, module: timeseries, priority: 0

#4024 Upgrade Dependency Ranges for 1.1
  common/src/autogluon/common/utils/try_import.py
  tabular/setup.py
Labels: dependency, priority: 0

#2024 Improve AbstractTrainer Docs
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: API & Doc, module: tabular

#4052 [timeseries] Fix long path name issue on Windows for Chronos
  timeseries/src/autogluon/timeseries/models/chronos/model.py
Labels: bug, OS: Windows, module: timeseries

#4054 [timeseries] Clarify documentation related to `test_data`
  docs/tutorials/timeseries/forecasting-indepth.ipynb
  docs/tutorials/timeseries/forecasting-quick-start.ipynb
  timeseries/src/autogluon/timeseries/predictor.py
Labels: API & Doc

#4055 [timeseries] Bump optimum dependency ranges
  timeseries/setup.py
Labels: module: timeseries

#4056 [timeseries] use chronos test fixture in smoke tests
  timeseries/tests/conftest.py
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/models/test_models.py
Labels: module: timeseries

#4076 [FIX] Avoid `chdir_to_trial_dir` causing silent `DeprecationWarning` Error
  core/src/autogluon/core/hpo/executors.py
  core/src/autogluon/core/hpo/ray_hpo.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
Labels: bug, module: tabular, feature: hpo, priority: 0

#4083 Update jsonschema version
  multimodal/setup.py
Labels: model list checked, run-multi-gpu

#3837 Update lit_distiller.py
  multimodal/src/autogluon/multimodal/optimization/lit_distiller.py
Labels: enhancement, module: multimodal, run-multi-gpu

#4094 [timeseries] drop statsmodels, improve refit_every_n_windows
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
Labels: module: timeseries

#4092 [timeseries] add Chronos to best and high quality presets
  timeseries/src/autogluon/timeseries/configs/presets_configs.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/test_features.py
  timeseries/tests/unittests/test_learner.py
Labels: enhancement, module: timeseries

#4098 [docs] [timeseries] add Chronos tutorial and citation
  CITING.md
  docs/tutorials/timeseries/forecasting-chronos.ipynb
  docs/tutorials/timeseries/index.md
Labels: API & Doc, module: timeseries

#4096 Optionally use Poppler/Pdf2Image for PDF Image Conversion
  docs/tutorials/multimodal/document_prediction/pdf_classification.ipynb
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/data/process_document.py
Labels: module: multimodal, model list checked, run-multi-gpu

#4113 Fix tensorrt notebook failure
  docs/tutorials/multimodal/advanced_topics/tensorrt.ipynb
Labels: module: multimodal, model list checked, run-multi-gpu

#4115 [AutoMM] Fix a bug of text augmentation.
  multimodal/src/autogluon/multimodal/data/process_text.py
Labels: run-multi-gpu

#4114 [AutoMM] Fix a bug of CLIP model's image feature normalization.
  multimodal/src/autogluon/multimodal/models/clip.py
Labels: run-multi-gpu

#4127 [AutoMM] Fix pdf classficiation tutorial
  docs/tutorials/multimodal/document_prediction/document_classification.ipynb
  docs/tutorials/multimodal/document_prediction/pdf_classification.ipynb
Labels: model list checked

#4136 [tabular] Add secondary_decision_thresholds to calibrate_decision_threshold
  core/src/autogluon/core/calibrate/_decision_threshold.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  core/tests/unittests/calibrate/test_decision_threshold.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: enhancement, module: tabular

#4137 [tabular] Add "auto" option for calibrate_decision_threshold
  core/src/autogluon/core/metrics/__init__.py
  core/tests/unittests/metrics/test_metric_kwargs.py
  core/tests/unittests/metrics/test_metrics.py
  docs/tutorials/tabular/advanced/tabular-custom-metric.ipynb
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: enhancement, module: tabular

#4145 [tabular] Remove unnecessary duplicate call to `_validate_calibrate_decision_threshold`
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: code cleanup
