Repository autogluon/autogluon, pull requests merged in 2024-05, with the labels that each got.

#4155 Patch release 0.8.3
  .github/workflow_scripts/env_setup.sh
  .github/workflow_scripts/setup_mmcv.sh
  .github/workflow_scripts/test_eda.sh
  VERSION
  core/src/autogluon/core/_setup_utils.py
  core/src/autogluon/core/calibrate/_decision_threshold.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  docs/conf.py
  docs/tutorials/cloud_fit_deploy/index.md
  docs/tutorials/multimodal/object_detection/index.md
  docs/tutorials/multimodal/object_detection/quick_start/index.md
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_ovd.ipynb
  docs/whats_new/v0.4.1.md
  eda/setup.cfg
  eda/src/autogluon/eda/analysis/anomaly.py
  eda/src/autogluon/eda/auto/simple.py
  eda/tests/unittests/analysis/test_anomaly.py
  examples/automm/ovd/ovd_demo.py
  features/tests/features/generators/test_auto_ml_pipeline.py
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/data/__init__.py
  multimodal/src/autogluon/multimodal/data/process_ovd.py
  multimodal/src/autogluon/multimodal/predictor.py
  multimodal/src/autogluon/multimodal/presets.py
  multimodal/src/autogluon/multimodal/problem_types.py
  multimodal/src/autogluon/multimodal/utils/data.py
  multimodal/tests/unittests/others/test_utils.py
  tabular/src/autogluon/tabular/models/knn/knn_model.py
  tabular/src/autogluon/tabular/models/rf/rf_quantile.py
  tabular/src/autogluon/tabular/models/tabular_nn/utils/categorical_encoders.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
  tabular/tests/regressiontests/utils.py
Labels: model list checked, run-multi-gpu

#4154 [Doc] Add automm paper citation
  CITING.md
  docs/tutorials/multimodal/index.md
Labels: model list checked

#4166 [AutoMM] Modify the default of basic fine-tuning tricks
  multimodal/src/autogluon/multimodal/configs/data/default.yaml
  multimodal/src/autogluon/multimodal/configs/model/default.yaml
  multimodal/src/autogluon/multimodal/configs/optimization/default.yaml
  multimodal/src/autogluon/multimodal/learners/ner.py
Labels: run-multi-gpu

#4175 [timeseries] Fix tabular models sometimes failing because of a bug in preprocessing logic
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
Labels: bug, module: timeseries

#4176 [timeseries] Minor fixes to time series tutorial notebooks
  docs/tutorials/timeseries/forecasting-chronos.ipynb
  docs/tutorials/timeseries/forecasting-indepth.ipynb
  docs/tutorials/timeseries/forecasting-quick-start.ipynb
Labels: API & Doc, module: timeseries

#4171 [timeseries] Fix loading of Tabular models failing if predictor moved to a different directory
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/tests/unittests/models/test_mlforecast.py
Labels: bug, module: timeseries

#4202 [timeseries] Fix cached predictions error when predictor saved to directory with an existing predictor
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/tests/unittests/test_predictor.py
Labels: bug, module: timeseries

#4205 [timeseries] fix off-by-one bug in Chronos inference
  timeseries/src/autogluon/timeseries/models/chronos/pipeline.py
Labels: bug, module: timeseries

#4123 Upgrade to torch 2.2 and update CI images
  CI/batch/docker/Dockerfile.cpu
  CI/batch/docker/Dockerfile.gpu
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
  multimodal/tests/conftest.py
  multimodal/tests/unittests/others/test_dump_model.py
  multimodal/tests/unittests/others/test_object_detection.py
Labels: model list checked, run-multi-gpu

#4225 Fix Typos
  examples/automm/label_studio_export_reader/LabelStudio_export_file_reader.md
  examples/automm/memory_bank/utils.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  timeseries/src/autogluon/timeseries/predictor.py
Labels: code cleanup

#4223 [tabular] Disable sklearnex for LR models due to performance degradation
  tabular/src/autogluon/tabular/models/lr/lr_model.py
Labels: bug, module: tabular

#4222 [tabular] Add refit_full support for LinearRegression
  tabular/src/autogluon/tabular/models/lr/lr_model.py
Labels: enhancement, module: tabular

#4230 [timeseries] Use correct target and quantile_levels in fallback model for MLForecast
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
Labels: bug, module: timeseries

#4232 [tabular] Fix HPO crash NN_TORCH, FASTAI
  common/src/autogluon/common/utils/utils.py
  core/src/autogluon/core/hpo/ray_hpo.py
  docs/whats_new/index.md
  docs/whats_new/v1.1.1.md
  tabular/src/autogluon/tabular/models/fastainn/tabular_nn_fastai.py
Labels: bug, module: tabular

#4235 update test to use smaller hf_text model
  multimodal/tests/unittests/others/test_dump_model.py
Labels: model list checked, run-multi-gpu
