Repository autogluon/autogluon, pull requests merged in 2025-02, with the labels that each got.

#4838 [timeseries] Bugfix to allow tuning of `context_length` in Chronos
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/tests/unittests/models/chronos/test_model.py
Labels: bug, module: timeseries

#4868 [timeseries] refactor dependencies on AbstractModel
  core/src/autogluon/core/models/abstract/abstract_model.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
Labels: code cleanup, module: timeseries

#4851 [core] Move AbstractTabularTrainer to tabular
  common/src/autogluon/common/utils/log_utils.py
  core/src/autogluon/core/_setup_utils.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
  timeseries/src/autogluon/timeseries/trainer.py
Labels: module: tabular, code cleanup, module: timeseries, module: core

#4877 [CI] fix timeseries platform tests
  .github/workflow_scripts/test_timeseries.sh
  .github/workflows/platform_tests-command.yml
Labels: module: timeseries

#4872 [timeseries] refactor model tests
  pyproject.toml
  timeseries/src/autogluon/timeseries/models/local/statsforecast.py
  timeseries/tests/unittests/common.py
  timeseries/tests/unittests/models/chronos/__init__.py
  timeseries/tests/unittests/models/chronos/test_model.py
  timeseries/tests/unittests/models/common.py
  timeseries/tests/unittests/models/conftest.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_local.py
  timeseries/tests/unittests/models/test_mlforecast.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_multi_window_model.py
  timeseries/tests/unittests/test_transforms.py
Labels: code cleanup, module: timeseries

#4884 [timeseries] fix in conftest
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/tests/conftest.py
Labels: module: timeseries

#4888 [timeseries] add tests for concrete methods in AbstractTimeSeriesModel
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/tests/unittests/models/test_abstract.py
Labels: module: timeseries

#4889 [AutoMM] Fix and Update Object Detection Tutorials
  docs/tutorials/multimodal/object_detection/advanced/finetune_coco.ipynb
  docs/tutorials/multimodal/object_detection/quick_start/quick_start_coco.ipynb
Labels: model list checked

#4899 [timeseries] Allow using custom distr_output with the TFT model
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/tests/unittests/models/test_gluonts.py
Labels: bug, module: timeseries

#4903 Fix setup_outputdir
  common/src/autogluon/common/utils/utils.py
Labels: code cleanup

#4902 check cuda.is_available() before cuda.device_count()
  common/src/autogluon/common/utils/resource_utils.py
Labels: code cleanup

#4901 [tabular] Add predictor.model_hyperparameters()
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/stacker_ensemble_model.py
  core/src/autogluon/core/models/greedy_ensemble/greedy_weighted_ensemble_model.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/tests/unittests/test_tabular.py
Labels: enhancement, module: tabular

#4909 [timeseries] decouple AbstractTimeSeriesModel from core
  common/src/autogluon/common/utils/utils.py
  core/src/autogluon/core/hpo/executors.py
  core/src/autogluon/core/models/__init__.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/tests/unittests/models/test_abstract.py
Labels: module: timeseries, module: core

#4907 [tabular] Add plot_leaderboard.py
  tabular/src/autogluon/tabular/experimental/plot_leaderboard.py
Labels: module: tabular

#4928 [timeseries] Add disclaimer about covariate support to the tutorials
  docs/tutorials/timeseries/forecasting-indepth.ipynb
  docs/tutorials/timeseries/forecasting-model-zoo.md
Labels: API & Doc, module: timeseries

#4913 [tabular] Add ag_model_register
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/dummy/dummy_model.py
  core/src/autogluon/core/models/greedy_ensemble/greedy_weighted_ensemble_model.py
  tabular/src/autogluon/tabular/models/automm/automm_model.py
  tabular/src/autogluon/tabular/models/automm/ft_transformer.py
  tabular/src/autogluon/tabular/models/catboost/catboost_model.py
  tabular/src/autogluon/tabular/models/fastainn/tabular_nn_fastai.py
  tabular/src/autogluon/tabular/models/fasttext/fasttext_model.py
  tabular/src/autogluon/tabular/models/image_prediction/image_predictor.py
  tabular/src/autogluon/tabular/models/imodels/imodels_models.py
  tabular/src/autogluon/tabular/models/knn/knn_model.py
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/src/autogluon/tabular/models/lr/lr_model.py
  tabular/src/autogluon/tabular/models/rf/rf_model.py
  tabular/src/autogluon/tabular/models/tab_transformer/tab_transformer_model.py
  tabular/src/autogluon/tabular/models/tabpfn/tabpfn_model.py
  tabular/src/autogluon/tabular/models/tabpfnmix/tabpfnmix_model.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
  tabular/src/autogluon/tabular/models/text_prediction/text_prediction_v1_model.py
  tabular/src/autogluon/tabular/models/vowpalwabbit/vowpalwabbit_model.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
  tabular/src/autogluon/tabular/models/xt/xt_model.py
  tabular/src/autogluon/tabular/register/__init__.py
  tabular/src/autogluon/tabular/register/_ag_model_register.py
  tabular/src/autogluon/tabular/register/_model_register.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/tests/unittests/callbacks/test_callbacks.py
  tabular/tests/unittests/configs/test_config_helper.py
  tabular/tests/unittests/edgecases/test_edgecases.py
  tabular/tests/unittests/models/advanced/test_stack_feature_usage.py
  tabular/tests/unittests/models/test_dummy.py
  tabular/tests/unittests/register/__init__.py
  tabular/tests/unittests/register/test_model_register.py
Labels: API & Doc, enhancement, module: tabular

#4944 [tabular] speed up tests
  core/src/autogluon/core/data/label_cleaner.py
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/dummy/dummy_model.py
  tabular/src/autogluon/tabular/learner/abstract_learner.py
  tabular/src/autogluon/tabular/models/catboost/catboost_model.py
  tabular/src/autogluon/tabular/models/fastainn/tabular_nn_fastai.py
  tabular/src/autogluon/tabular/models/knn/knn_model.py
  tabular/src/autogluon/tabular/models/lgb/lgb_model.py
  tabular/src/autogluon/tabular/models/lr/lr_model.py
  tabular/src/autogluon/tabular/models/rf/rf_model.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
  tabular/src/autogluon/tabular/models/xt/xt_model.py
  tabular/tests/conftest.py
  tabular/tests/unittests/calibrate/test_calibrate.py
  tabular/tests/unittests/callbacks/test_callbacks.py
  tabular/tests/unittests/data/test_learning_curves.py
  tabular/tests/unittests/edgecases/test_edgecases.py
  tabular/tests/unittests/experimental/test_scikit_api.py
  tabular/tests/unittests/models/test_advanced.py
  tabular/tests/unittests/models/test_automm.py
  tabular/tests/unittests/models/test_catboost.py
  tabular/tests/unittests/models/test_dummy.py
  tabular/tests/unittests/models/test_image_predictor.py
  tabular/tests/unittests/models/test_knn.py
  tabular/tests/unittests/models/test_lightgbm.py
  tabular/tests/unittests/models/test_linear.py
  tabular/tests/unittests/models/test_rf.py
  tabular/tests/unittests/models/test_tabular_nn.py
  tabular/tests/unittests/models/test_tabular_nn_fastai.py
  tabular/tests/unittests/models/test_xgboost.py
  tabular/tests/unittests/models/test_xt.py
  tabular/tests/unittests/test_tabular.py
Labels: enhancement, module: tabular
