Repository autogluon/autogluon, pull requests merged in 2025-03, with the labels that each got.

#4949 Refactor tests, remove fixtures
  core/src/autogluon/core/models/abstract/abstract_model.py
  core/src/autogluon/core/models/dummy/dummy_model.py
  core/src/autogluon/core/models/ensemble/weighted_ensemble_model.py
  core/src/autogluon/core/models/greedy_ensemble/greedy_weighted_ensemble_model.py
  tabular/src/autogluon/tabular/models/automm/automm_model.py
  tabular/src/autogluon/tabular/models/automm/ft_transformer.py
  tabular/src/autogluon/tabular/models/catboost/catboost_model.py
  tabular/src/autogluon/tabular/models/fasttext/fasttext_model.py
  tabular/src/autogluon/tabular/models/image_prediction/image_predictor.py
  tabular/src/autogluon/tabular/models/imodels/imodels_models.py
  tabular/src/autogluon/tabular/models/knn/knn_model.py
  tabular/src/autogluon/tabular/models/lr/lr_model.py
  tabular/src/autogluon/tabular/models/rf/rf_model.py
  tabular/src/autogluon/tabular/models/tab_transformer/tab_transformer_model.py
  tabular/src/autogluon/tabular/models/tabpfn/tabpfn_model.py
  tabular/src/autogluon/tabular/models/tabpfnmix/tabpfnmix_model.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
  tabular/src/autogluon/tabular/models/text_prediction/text_prediction_v1_model.py
  tabular/src/autogluon/tabular/models/vowpalwabbit/vowpalwabbit_model.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
  tabular/src/autogluon/tabular/models/xt/xt_model.py
  tabular/src/autogluon/tabular/testing/__init__.py
  tabular/src/autogluon/tabular/testing/fit_helper.py
  tabular/src/autogluon/tabular/testing/generate_datasets.py
  tabular/src/autogluon/tabular/testing/model_fit_helper.py
  tabular/tests/conftest.py
  tabular/tests/unittests/calibrate/test_calibrate.py
  tabular/tests/unittests/callbacks/test_callbacks.py
  tabular/tests/unittests/data/test_learning_curves.py
  tabular/tests/unittests/dynamic_stacking/test_dynamic_stacking.py
  tabular/tests/unittests/edgecases/test_edgecases.py
  tabular/tests/unittests/experimental/test_scikit_api.py
  tabular/tests/unittests/models/advanced/test_bagged_deterministic.py
  tabular/tests/unittests/models/advanced/test_stack_feature_usage.py
  tabular/tests/unittests/models/test_advanced.py
  tabular/tests/unittests/models/test_automm.py
  tabular/tests/unittests/models/test_catboost.py
  tabular/tests/unittests/models/test_dummy.py
  tabular/tests/unittests/models/test_image_predictor.py
  tabular/tests/unittests/models/test_knn.py
  tabular/tests/unittests/models/test_lightgbm.py
  tabular/tests/unittests/models/test_linear.py
  tabular/tests/unittests/models/test_rf.py
  tabular/tests/unittests/models/test_tabpfn.py
  tabular/tests/unittests/models/test_tabular_nn.py
  tabular/tests/unittests/models/test_tabular_nn_fastai.py
  tabular/tests/unittests/models/test_text_prediction_v1_model.py
  tabular/tests/unittests/models/test_vowpalwabbit.py
  tabular/tests/unittests/models/test_xgboost.py
  tabular/tests/unittests/models/test_xt.py
  tabular/tests/unittests/resource_allocation/test_custom_memory_limit.py
  tabular/tests/unittests/test_tabular.py
Labels: enhancement, module: tabular, code cleanup

#4866 Fix XGBoost GPU warnings
  tabular/setup.py
  tabular/src/autogluon/tabular/models/xgboost/xgboost_model.py
Labels: enhancement, module: tabular, resource: GPU

#4948 [tabular] Fix .refit_full(train_data_extra)
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  tabular/src/autogluon/tabular/trainer/abstract_trainer.py
  tabular/tests/unittests/models/advanced/test_refit_full.py
Labels: module: tabular

#4969 [timeseries] typing improvements for gluonts models
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
Labels: code cleanup, module: timeseries

#4982 Fix NLTK tagger path in download function
  multimodal/src/autogluon/multimodal/data/trivial_augmenter.py
Labels: bug, module: multimodal, model list checked, run-multi-gpu
