Repository autogluon/autogluon, pull requests merged in 2025-05, with the labels that each got.

#5111 Add release instructions for pasting whats_new release notes
  docs/whats_new/v1.3.0.md
  release_instructions/ReleaseInstructions.md
  release_instructions/add_links_to_release_notes.py
Labels: API & Doc

#5121 [Master] Fix multimodal tutorial issue after 1.3 release
  docs/tutorials/multimodal/advanced_topics/presets.ipynb
  multimodal/setup.py
Labels: model list checked

#5122 [Stable] Fix multimodal tutorial issue after 1.3 release
  docs/tutorials/multimodal/advanced_topics/presets.ipynb
  multimodal/setup.py
Labels: model list checked

#5129 Fix incorrect reference to positive_class in TabularPredictor constructor
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: bug, module: tabular

#5132 [timeseries] Fix ensemble weights format for printing
  timeseries/src/autogluon/timeseries/models/ensemble/greedy.py
Labels: module: timeseries

#5139 fix: Change multilingual preset to use FP32 to avoid DeBERTa BFloat16…
  multimodal/src/autogluon/multimodal/utils/presets.py
Labels: module: multimodal, run-multi-gpu

#5141 fix: Support Apple Silicon and log it in the system info
  common/src/autogluon/common/utils/resource_utils.py
  multimodal/src/autogluon/multimodal/utils/log.py
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
Labels: run-multi-gpu

#5142 Add load pickle from url support, fix save_str if root path.
  common/setup.py
  common/src/autogluon/common/loaders/load_pkl.py
  common/src/autogluon/common/savers/save_str.py
Labels: enhancement, module: common
