Repository autogluon/autogluon, pull requests merged in 2025-04, with the labels that each got.

#5004 [timeseries] Raise informative error message if invalid model name is provided
  timeseries/src/autogluon/timeseries/trainer.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#5003 fix: account for distributed training in learning rate schedule
  multimodal/src/autogluon/multimodal/optim/lit_module.py
Labels: module: multimodal, run-multi-gpu

#5008 [timeseries] Fix redundant scaler and regressor initialization for MultiWindowBacktestingModel
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/tests/unittests/models/common.py
Labels: module: timeseries

#5000 update version cap to 2.7 of pytorch and pytorch-lightning
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/learners/base.py
  multimodal/src/autogluon/multimodal/utils/checkpoint.py
Labels: run-multi-gpu

#5024 [Tabular] Add mem opt simulation artifact support
  common/src/autogluon/common/utils/simulation_utils.py
Labels: module: tabular

#5025 [Tabular] fix linting
  common/src/autogluon/common/utils/simulation_utils.py
Labels: code cleanup

#5020 update dependency with latest versions
  common/src/autogluon/common/utils/try_import.py
  core/setup.py
  core/src/autogluon/core/_setup_utils.py
  core/src/autogluon/core/metrics/__init__.py
  core/tests/unittests/metrics/test_classification_metrics.py
  core/tests/unittests/metrics/test_metrics.py
  examples/automm/kaggle_pawpularity/kaggle_pawpularity_train.py
  multimodal/setup.py
  tabular/setup.py
  timeseries/setup.py
Labels: run-multi-gpu

#5045 Fix sklearn<1.6 compatibility
  core/src/autogluon/core/_setup_utils.py
  tabular/src/autogluon/tabular/models/tabular_nn/utils/categorical_encoders.py
Labels: install, dependency

#5059 [timeseries] Fix time_limit when val_data is provided #5046
  timeseries/src/autogluon/timeseries/trainer.py
  timeseries/tests/smoketests/test_all_models.py
Labels: module: timeseries

#5064 [timeseries] rename covariate metadata
  docs/tutorials/timeseries/advanced/forecasting-custom-model.ipynb
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/tests/unittests/models/test_abstract.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/models/test_mlforecast.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/models/test_multi_window_model.py
  timeseries/tests/unittests/test_regressor.py
  timeseries/tests/unittests/test_transforms.py
  timeseries/tests/unittests/utils/test_features.py
Labels: code cleanup, module: timeseries

#5062 [timeseries] refactor ensemble base class and add new ensembles
  core/src/autogluon/core/models/greedy_ensemble/ensemble_selection.py
  timeseries/src/autogluon/timeseries/models/abstract/__init__.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/ensemble/__init__.py
  timeseries/src/autogluon/timeseries/models/ensemble/abstract.py
  timeseries/src/autogluon/timeseries/models/ensemble/abstract_timeseries_ensemble.py
  timeseries/src/autogluon/timeseries/models/ensemble/basic.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy.py
  timeseries/src/autogluon/timeseries/trainer.py
  timeseries/tests/unittests/models/test_ensemble.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: enhancement, module: timeseries

#5080 [timeseries] Fix NaT timestamp values during resampling
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/tests/unittests/test_ts_dataset.py
Labels: module: timeseries

#5086 [timeseries] typing improvements for utils
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/utils/features.py
  timeseries/src/autogluon/timeseries/utils/warning_filters.py
Labels: code cleanup, module: timeseries

#5078 [timeseries] Add cutoff support in evaluate and leaderboard
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/tests/unittests/test_predictor.py
Labels: module: timeseries

#5084 [timeseries] Add horizon_weight support for TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/metrics/__init__.py
  timeseries/src/autogluon/timeseries/metrics/abstract.py
  timeseries/src/autogluon/timeseries/metrics/point.py
  timeseries/src/autogluon/timeseries/metrics/quantile.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer.py
  timeseries/tests/unittests/models/test_models.py
  timeseries/tests/unittests/test_metrics.py
  timeseries/tests/unittests/test_predictor.py
Labels: enhancement, module: timeseries

#5010 fix: set HF models to train mode after loading from_pretrained
  multimodal/src/autogluon/multimodal/models/utils.py
Labels: run-multi-gpu

#5102 [timeseries] reorganize gluonts namespace, fix minor typing issue
  timeseries/src/autogluon/timeseries/metrics/abstract.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/utils.py
  timeseries/src/autogluon/timeseries/models/gluonts/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract.py
  timeseries/src/autogluon/timeseries/models/gluonts/dataset.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/__init__.py
  timeseries/tests/unittests/models/common.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/test_metrics.py
Labels: code cleanup, module: timeseries

#5103 [timeseries] revert #5102
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/utils.py
  timeseries/src/autogluon/timeseries/models/gluonts/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract_gluonts.py
  timeseries/src/autogluon/timeseries/models/gluonts/dataset.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/models.py
  timeseries/tests/unittests/models/common.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/test_metrics.py
Labels: module: timeseries

#5107 Rename ModelRegister -> ModelRegistry
  tabular/src/autogluon/tabular/configs/config_helper.py
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/register/__init__.py
  tabular/src/autogluon/tabular/registry/__init__.py
  tabular/src/autogluon/tabular/registry/_ag_model_registry.py
  tabular/src/autogluon/tabular/registry/_model_registry.py
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/tests/unittests/configs/test_config_helper.py
  tabular/tests/unittests/data/test_learning_curves.py
  tabular/tests/unittests/registry/__init__.py
  tabular/tests/unittests/registry/test_model_registry.py
  timeseries/src/autogluon/timeseries/regressor.py
Labels: module: tabular

#5110 Update all release notes with proper urls + add script to add urls
  docs/whats_new/v0.4.0.md
  docs/whats_new/v0.4.1.md
  docs/whats_new/v0.5.1.md
  docs/whats_new/v0.6.0.md
  docs/whats_new/v0.6.1.md
  docs/whats_new/v0.6.2.md
  docs/whats_new/v0.7.0.md
  docs/whats_new/v0.8.0.md
  docs/whats_new/v0.8.1.md
  docs/whats_new/v0.8.2.md
  docs/whats_new/v0.8.3.md
  docs/whats_new/v1.0.0.md
  docs/whats_new/v1.1.0.md
  docs/whats_new/v1.1.1.md
  docs/whats_new/v1.2.0.md
  release_instructions/ReleaseInstructions.md
  release_instructions/add_links_to_release_notes.py
Labels: API & Doc
