Repository autogluon/autogluon, pull requests merged in 2025-07, with the labels that each got.

#5184 [timeseries] Update hyperparameter handling in MLForecast models
  timeseries/setup.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/autogluon_tabular/mlforecast.py
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/local/abstract_local_model.py
  timeseries/src/autogluon/timeseries/regressor.py
  timeseries/tests/unittests/models/common.py
  timeseries/tests/unittests/models/test_mlforecast.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: module: timeseries, breaking

#5201 [tabular] Fix CatBoost crashing for problem_type="quantile" if len(quantile_levels) == 1
  core/src/autogluon/core/models/abstract/abstract_model.py
  tabular/src/autogluon/tabular/models/catboost/callbacks.py
  tabular/src/autogluon/tabular/models/catboost/catboost_utils.py
  tabular/src/autogluon/tabular/testing/fit_helper.py
  tabular/src/autogluon/tabular/testing/generate_datasets.py
Labels: module: tabular

#5143 Add `ag.ens.` shortcut for ag_args_ensemble
  tabular/src/autogluon/tabular/predictor/predictor.py
  tabular/src/autogluon/tabular/testing/fit_helper.py
  tabular/src/autogluon/tabular/trainer/model_presets/presets.py
  tabular/tests/unittests/models/test_dummy.py
Labels: enhancement, module: tabular

#5203 [tabular] Respect num_cpus/num_gpus in sequential_local fit
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/models/ensemble/fold_fitting_strategy.py
  tabular/tests/unittests/resource_allocation/test_bagging_resource_allocation.py
  tabular/tests/unittests/resource_allocation/test_resource_allocation_combined.py
Labels: enhancement, module: tabular, priority: 0

#5193 [tabular] Add TabICL Model
  common/src/autogluon/common/utils/resource_utils.py
  docs/api/autogluon.tabular.models.rst
  tabular/setup.py
  tabular/src/autogluon/tabular/models/__init__.py
  tabular/src/autogluon/tabular/models/tabicl/__init__.py
  tabular/src/autogluon/tabular/models/tabicl/tabicl_model.py
  tabular/src/autogluon/tabular/models/tabm/tabm_model.py
  tabular/src/autogluon/tabular/registry/_ag_model_registry.py
  tabular/tests/unittests/models/test_tabicl.py
  tabular/tests/unittests/registry/test_model_registry.py
Labels: enhancement, module: tabular, dependency, priority: 0

#5190 [tabular] Add RealMLP Model
  docs/api/autogluon.tabular.models.rst
  tabular/setup.py
  tabular/src/autogluon/tabular/models/__init__.py
  tabular/src/autogluon/tabular/models/realmlp/__init__.py
  tabular/src/autogluon/tabular/models/realmlp/realmlp_model.py
  tabular/src/autogluon/tabular/registry/_ag_model_registry.py
  tabular/tests/unittests/models/test_realmlp.py
  tabular/tests/unittests/registry/test_model_registry.py
Labels: enhancement, module: tabular, dependency, priority: 0

#5191 [tabular] Add TabPFNv2 Model
  docs/api/autogluon.tabular.models.rst
  tabular/setup.py
  tabular/src/autogluon/tabular/models/__init__.py
  tabular/src/autogluon/tabular/models/tabpfn/__init__.py
  tabular/src/autogluon/tabular/models/tabpfn/tabpfn_model.py
  tabular/src/autogluon/tabular/models/tabpfnv2/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnv2/rfpfn/__init__.py
  tabular/src/autogluon/tabular/models/tabpfnv2/rfpfn/configs.py
  tabular/src/autogluon/tabular/models/tabpfnv2/rfpfn/scoring_utils.py
  tabular/src/autogluon/tabular/models/tabpfnv2/rfpfn/sklearn_based_decision_tree_tabpfn.py
  tabular/src/autogluon/tabular/models/tabpfnv2/rfpfn/sklearn_based_random_forest_tabpfn.py
  tabular/src/autogluon/tabular/models/tabpfnv2/rfpfn/sklearn_compat.py
  tabular/src/autogluon/tabular/models/tabpfnv2/rfpfn/utils.py
  tabular/src/autogluon/tabular/models/tabpfnv2/tabpfnv2_model.py
  tabular/src/autogluon/tabular/registry/_ag_model_registry.py
  tabular/tests/unittests/models/test_tabpfn.py
  tabular/tests/unittests/models/test_tabpfnv2.py
  tabular/tests/unittests/registry/test_model_registry.py
Labels: enhancement, module: tabular, dependency, priority: 0

#5246 [multimodal] Cap fsspec version to avoid backtracking during pip version resolution
  multimodal/setup.py
Labels: module: multimodal, dependency, run-multi-gpu

#5158 [Fix] Changed Plot Curves Method Signature Type
  core/src/autogluon/core/learning_curves/plot_curves.py
Labels: API & Doc
