Repository autogluon/autogluon, pull requests merged in 2025-01, with the labels that each got.

#4773 [timeseries] update and simplify Chronos tests
  timeseries/tests/conftest.py
  timeseries/tests/smoketests/test_all_models.py
  timeseries/tests/unittests/models/chronos/conftest.py
  timeseries/tests/unittests/models/chronos/pipeline/test_chronos_bolt.py
  timeseries/tests/unittests/models/chronos/test_model.py
Labels: module: timeseries

#4714 update ray to include 2.40
  .github/workflow_scripts/lint_check.sh
  common/src/autogluon/common/features/feature_metadata.py
  common/src/autogluon/common/loaders/_utils.py
  common/src/autogluon/common/utils/path_converter.py
  common/src/autogluon/common/utils/try_import.py
  common/src/autogluon/common/utils/utils.py
  core/setup.py
  features/src/autogluon/features/generators/astype.py
  features/tests/features/conftest.py
  multimodal/tests/unittests/others_2/test_ner_chinese.py
  multimodal/tests/unittests/others_2/test_predictor_advanced.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/chronos.py
  timeseries/tests/unittests/test_trainer.py
Labels: model list checked, run-multi-gpu

#4586 [tabular] Stratify regression tasks via binning
  core/src/autogluon/core/models/ensemble/bagged_ensemble_model.py
  core/src/autogluon/core/utils/utils.py
  core/tests/unittests/models/test_bagged_ensemble_model.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: enhancement, module: tabular, needs: benchmark

#4699 [Tutorial] categorical convert_to_text default value
  docs/tutorials/multimodal/advanced_topics/customization.ipynb
Labels: model list checked

#4788 [timeseries] address type checker issues in metrics and trainer
  pyproject.toml
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/metrics/__init__.py
  timeseries/src/autogluon/timeseries/metrics/abstract.py
  timeseries/src/autogluon/timeseries/metrics/point.py
  timeseries/src/autogluon/timeseries/models/abstract/abstract_timeseries_model.py
  timeseries/src/autogluon/timeseries/models/ensemble/abstract_timeseries_ensemble.py
  timeseries/src/autogluon/timeseries/models/ensemble/greedy_ensemble.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/splitter.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/trainer/auto_trainer.py
  timeseries/tests/unittests/test_trainer.py
Labels: code cleanup, module: timeseries

#4745 [timeseries] Update version ranges for statsforecast & coreforecast
  timeseries/setup.py
Labels: module: timeseries, dependency

#4790 [tabular] Fix NN_TORCH batch_size < 8
  tabular/src/autogluon/tabular/models/tabular_nn/torch/tabular_nn_torch.py
Labels: bug, module: tabular

#4801 [timeseries] address type checker issues in transforms, learner and others
  core/src/autogluon/core/learner/abstract_learner.py
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/regressor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/trainer/auto_trainer.py
  timeseries/src/autogluon/timeseries/transforms/covariate_scaler.py
  timeseries/src/autogluon/timeseries/transforms/target_scaler.py
  timeseries/tests/unittests/test_learner.py
Labels: code cleanup, module: timeseries

#4809 Update s3 path to public URL for AutoMM unit tests
  examples/automm/tabular_dl/dataset.py
  multimodal/tests/unittests/others_2/test_backward_compatibility.py
  multimodal/tests/unittests/utils/utils.py
Labels: model list checked

#4802 Refactor CatBoost memory_check function
  tabular/src/autogluon/tabular/models/catboost/callbacks.py
Labels: module: tabular

#4804 [core] refactor AbstractTrainer
  core/src/autogluon/core/trainer/__init__.py
  core/src/autogluon/core/trainer/abstract_trainer.py
  tabular/src/autogluon/tabular/trainer/auto_trainer.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
Labels: module: tabular, code cleanup, module: timeseries, module: core

#4822 fix codespell errors
  features/src/autogluon/features/binning.py
  tabular/src/autogluon/tabular/models/_utils/rapids_utils.py
  tabular/src/autogluon/tabular/predictor/predictor.py
Labels: code cleanup, priority: 0

#4821 [timeseries] address static type checker issues in TimeSeriesPredictor
  timeseries/src/autogluon/timeseries/dataset/ts_dataframe.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer/abstract_trainer.py
Labels: code cleanup, module: timeseries

#4720 Bump torchmetrics version range
  multimodal/setup.py
Labels: run-multi-gpu

#4849 [timeseries] Fix minor CovariateRegressor bugs
  timeseries/src/autogluon/timeseries/regressor.py
  timeseries/tests/unittests/test_regressor.py
Labels: module: timeseries

#4820 [core] make AbstractTrainer generic in model type, remove SimpleAbstractTrainer
  core/src/autogluon/core/trainer/abstract_trainer.py
  timeseries/src/autogluon/timeseries/learner.py
  timeseries/src/autogluon/timeseries/models/multi_window/multi_window_model.py
  timeseries/src/autogluon/timeseries/models/presets.py
  timeseries/src/autogluon/timeseries/predictor.py
  timeseries/src/autogluon/timeseries/trainer.py
  timeseries/src/autogluon/timeseries/trainer/__init__.py
  timeseries/src/autogluon/timeseries/trainer/auto_trainer.py
  timeseries/tests/unittests/test_learner.py
  timeseries/tests/unittests/test_predictor.py
  timeseries/tests/unittests/test_trainer.py
Labels: code cleanup, module: core

#4842 Update GitHub Actions
  .github/workflows/benchmark-command.yml
  .github/workflows/benchmark_master.yml
  .github/workflows/pypi_release.yml
  .github/workflows/pythonpublish.yml
  .github/workflows/pythonpublish_testpypi.yml
Labels: code cleanup, dependency
