Repository autogluon/autogluon, pull requests merged in 2025-06, with the labels that each got.

#5147 Update NLTK dependency constraint to <3.10 to address CVE-2024-39705
  multimodal/setup.py
  multimodal/src/autogluon/multimodal/data/trivial_augmenter.py
Labels: module: multimodal, run-multi-gpu

#5089 increase pytorch cap to 2.8 to enable 2.7
  core/src/autogluon/core/_setup_utils.py
  multimodal/setup.py
  multimodal/tests/unittests/others/test_metrics.py
Labels: model list checked, dependency, priority: 0, run-multi-gpu

#5150 Use pyarrow by default, remove fastparquet
  common/setup.py
  common/src/autogluon/common/loaders/load_pd.py
  common/src/autogluon/common/savers/save_pd.py
  core/src/autogluon/core/_setup_utils.py
Labels: dependency, module: common

#5104 [timeseries] reorganize gluonts namespace
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/utils.py
  timeseries/src/autogluon/timeseries/models/gluonts/__init__.py
  timeseries/src/autogluon/timeseries/models/gluonts/abstract.py
  timeseries/src/autogluon/timeseries/models/gluonts/dataset.py
  timeseries/src/autogluon/timeseries/models/gluonts/models.py
  timeseries/src/autogluon/timeseries/models/gluonts/torch/__init__.py
  timeseries/tests/unittests/models/common.py
  timeseries/tests/unittests/models/test_gluonts.py
  timeseries/tests/unittests/test_metrics.py
Labels: code cleanup, module: timeseries

#5177 [timeseries] Improve heuristic for long-horizon forecasts with Chronos-Bolt
  timeseries/src/autogluon/timeseries/models/chronos/model.py
  timeseries/src/autogluon/timeseries/models/chronos/pipeline/chronos_bolt.py
  timeseries/tests/unittests/models/chronos/test_model.py
Labels: enhancement, module: timeseries
